In [1]:
import requests
import pandas as pd
import tqdm
import json

url = 'https://api.boliga.dk/api/v2/search/results?pageSize=50&sort=zipCode-a&page=1'
response = requests.get(url, 'html.parser').json()

#Calculate nr of iterations
totalpages = response['meta']['totalPages']

In [ ]:
response['results'][0]

In [ ]:
# TEST! 
import time
import tqdm
import scraping_class

logfile = 'logfile_boliga.csv'
connector = scraping_class.Connector(logfile)

df_old = pd.DataFrame()

#Scrape the page:
for page in tqdm.tqdm(range(1, 50)):
    time.sleep(0.5)
    url = 'https://api.boliga.dk/api/v2/search/results?pageSize=50&sort=zipCode-a&page={p}'.format(p = page)
    response,call_id = connector.get(url,'Boligdata')
    response = response.json()
    response = response['results']
    df_new = pd.DataFrame(response)
    df_old = pd.concat([df_old, df_new], axis = 0)

In [ ]:
import time
import tqdm
import scraping_class

logfile = 'logfile_boliga.csv'
connector = scraping_class.Connector(logfile)

df_old = pd.DataFrame()

#Scrape the page:
for page in tqdm.tqdm(range(1, totalpages)):
    time.sleep(0.5)
    url = 'https://api.boliga.dk/api/v2/search/results?pageSize=50&sort=zipCode-a&page={p}'.format(p = page)
    response,call_id = connector.get(url,'Boligdata')
    response = response.json()
    response = response['results']
    df_new = pd.DataFrame(response)
    df_old = pd.concat([df_old, df_new], axis = 0)

In [4]:
df = pd.read_csv('Boliga Scraped.csv')
pd.options.display.max_columns = 100
df

,Unnamed: 0,agentDisplayName,agentRegId,area,basementSize,buildYear,city,createdDate,daysForSale,domainId,energyClass,exp,floor,groupKey,guid,id,images,inWatchlist,isActive,isForeclosure,isPremiumAgent,latitude,longitude,lotSize,municipality,net,openHouse,price,priceChangePercentTotal,propertyType,rooms,selfsale,size,squaremeterPrice,street,views,zipCode
0,0,NaN,24254,1,0,1767,København K,2019-05-22T00:35:07.000Z,93,944,-,16872,3.0,NaN,147A17D5-24CA-4788-8009-F53DEFF2836C,1559151,"[{'id': 1559151, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67996,12.58478,0,101,67026,NaN,18750000,0,3,6.0,False,280,66964.0,"Kongens Nytorv 21, 3. tv",557,1050
1,1,NaN,207,1,88,1880,København K,2019-06-14T03:27:01.490Z,70,7,C,5702,NaN,1.0,EE6F79CE-E04F-4D59-9845-E08F98251FC9,1567291,"[{'id': 1567291, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67926,12.59149,0,101,0,NaN,10500000,0,3,4.0,False,83,126506.0,"Nyhavn 38, st. Dør/lejl. 4",139,1051
2,2,NaN,117,1,0,1755,København K,2019-04-24T00:09:51.880Z,121,171,C,9486,1.0,NaN,23F2A968-9A3B-44C0-BB55-22A9005DEC2C,1549766,"[{'id': 1549766, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67981,12.59206,0,101,0,NaN,15000000,0,3,7.0,False,274,54744.0,"Nyhavn 53, 1.",110,1051
3,3,NaN,17151,1,0,1880,København K,2019-05-08T00:04:30.737Z,107,91,C,17609,5.0,1.0,0CB9E79E-C298-47B9-88E4-23F67F0A0A5B,1554276,"[{'id': 1554276, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67926,12.59149,0,101,70224,2019-08-25T14:00:00.000Z,19995000,0,3,7.0,False,296,67550.0,"Nyhavn 38, 5. tv.",317,1051
4,4,NaN,17489,1,0,1873,København K,2019-07-12T03:21:26.060Z,42,9,C,5590,3.0,NaN,A7380CBF-7220-447E-878E-5B044910369E,1576691,"[{'id': 1576691, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67852,12.59114,0,101,0,NaN,8750000,0,3,7.0,False,163,53680.0,"Herluf Trolles Gade 22, 3. th",122,1052
5,5,NaN,25207,1,0,1873,København K,2019-08-14T00:02:15.130Z,9,419,C,5739,5.0,NaN,BEE71A72-0AD9-423D-89E5-25C11417B767,1584826,"[{'id': 1584826, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67847,12.59073,0,101,0,NaN,11500000,0,3,4.0,False,164,70121.0,"Cort Adelers Gade 1, 5. tv.",95,1053
6,6,NaN,502,1,0,1870,København K,2019-08-09T03:06:43.653Z,14,9,D,4461,1.0,NaN,11C2ABEA-7CE8-4B0D-9055-8D6D92C0B7C3,1583581,"[{'id': 1583581, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67702,12.58935,0,101,0,NaN,4495000,0,3,3.0,False,76,59144.0,"Peder Skrams Gade 28, 1. tv",100,1054
7,7,NaN,22489,1,0,1872,København K,2019-06-12T00:03:09.230Z,72,811,D,9790,1.0,NaN,CFF82481-C230-4FD9-921A-9D9F2E502FE2,1565985,"[{'id': 1565985, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67724,12.58791,0,101,9790,2019-08-25T14:15:00.000Z,4494000,0,5,6.0,False,132,0.0,"Tordenskjoldsgade 26, 1. tv.",145,1055
8,8,NaN,24749,1,0,1900,København K,2019-07-08T00:35:06.767Z,46,1030,d,5606,4.0,NaN,83D57A73-014C-4621-B53F-74BA689F18C1,1575319,"[{'id': 1575319, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67709,12.58987,0,101,33986,NaN,9500000,0,3,4.0,False,122,77868.0,"Havnegade 35, 4. th",108,1058
9,9,NaN,25402,1,0,1796,København K,2019-03-22T03:03:55.040Z,154,691,-,2771,4.0,2.0,15A4117C-65C2-4FA6-8394-F45F5B3FB7D4,1535743,"[{'id': 1535743, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67755,12.58208,0,101,0,NaN,5995000,-4,3,3.0,False,125,47960.0,"Boldhusgade 2, 4.",60,1062
10,10,NaN,25402,1,0,1796,København K,2019-06-27T03:37:18.940Z,57,691,-,4723,2.0,2.0,A91CD8E4-881B-4E97-9D3D-964EBD315147,1571948,"[{'id': 1571948, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67755,12.58208,0,101,0,NaN,7695000,0,3,3.0,False,144,53437.0,"Boldhusgade 2, 2.",46,1062
11,11,NaN,610,1,0,1797,København K,2019-06-20T03:37:30.653Z,64,3,E,2999,1.0,NaN,D8381397-6767-411C-834C-14FF11C358B3,1569281,"[{'id': 1569281, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67784,12.58325,1010,101,0,2019-08-25T12:00:00.000Z,2795000,-7,3,2.0,False,51,54803.0,"Laksegade 20F, 1. th.",133,1063
12,12,NaN,610,1,0,1797,København K,2019-08-13T03:20:33.657Z,10,3,E,3248,1.0,NaN,EE0D133E-CFB5-4E37-ABBA-B24562FB7180,1584703,"[{'id': 1584703, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67801,12.58327,0,101,0,2019-08-25T12:30:00.000Z,2995000,0,3,2.0,False,54,55462.0,"Laksegade 20B, 1. mf.",65,1063
13,13,NaN,25402,1,0,1797,København K,2019-06-06T03:51:44.797Z,78,691,E,3479,2.0,NaN,0A5A050B-1A32-4344-ACDC-B4CA5BEF22F6,1564406,"[{'id': 1564406, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67794,12.58299,0,101,0,NaN,3500000,0,3,2.0,False,59,59322.0,"Laksegade 20D, 2. mf",41,1063
14,14,NaN,25402,1,0,1797,København K,2019-08-01T03:47:17.660Z,22,691,E,4509,2.0,NaN,1629E449-B3B8-4E83-9BB0-962CEBE1750A,1581472,"[{'id': 1581472, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67781,12.58311,0,101,0,2019-08-25T12:00:00.000Z,3550000,0,3,2.0,False,75,47333.0,"Laksegade 20E, 2.",68,1063
15,15,NaN,610,1,0,1799,København K,2018-12-20T03:34:50.233Z,246,3,-,4081,2.0,NaN,D120BF2A-E847-4B11-BF37-BE9CE9733F3F,1510447,"[{'id': 1510447, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67811,12.58245,0,101,0,NaN,4195000,-5,3,4.0,False,84,49940.0,"Nikolajgade 20, 2. th.",71,1068
16,16,NaN,17151,1,0,1817,København K,2019-06-10T00:07:02.240Z,74,91,-,5087,2.0,NaN,A5FD6A37-8128-478D-84AA-F788C5352540,1565858,"[{'id': 1565858, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67820,12.58273,0,101,17231,2019-08-25T13:50:00.000Z,4895000,-11,3,2.0,False,94,52074.0,"Nikolajgade 18, 2. th.",91,1068
17,17,NaN,17151,1,0,1690,København K,2019-06-27T00:03:19.970Z,57,91,C,2549,3.0,NaN,54A2682E-2759-4230-A490-97EB3A12B8FA,1571657,"[{'id': 1571657, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.68172,12.58341,0,101,11966,2019-08-25T13:20:00.000Z,3395000,-3,3,3.0,False,72,47152.0,"Grønnegade 43, 3.",138,1107
18,18,NaN,7,1,0,1741,København K,2019-04-17T00:07:49.497Z,128,42,-,6834,3.0,NaN,93E0EC3A-7FED-4065-913D-3BB51F8F7D63,1547075,"[{'id': 1547075, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.68136,12.58310,0,101,19495,NaN,5495000,0,3,4.0,False,120,45791.0,"Grønnegade 29, 3.",50,1107
19,19,NaN,17463,1,0,1848,København K,2019-07-03T00:35:21.063Z,51,616,f,5665,1.0,NaN,A180C15E-5F90-41F2-A9E7-7D5721858080,1573503,"[{'id': 1573503, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.68204,12.58249,0,101,16577,2019-08-25T14:45:00.000Z,4995000,0,3,3.0,False,116,43060.0,"Store Regnegade 19A, 1. th",63,1110
20,20,NaN,207,1,0,1991,København K,2019-04-30T03:17:43.653Z,115,7,C,3401,4.0,NaN,E8D9C960-8DEF-45F7-B52B-DFD35BA6116F,1551496,"[{'id': 1551496, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.68158,12.57826,0,101,0,2019-08-26T09:00:00.000Z,4400000,-2,3,2.0,False,78,56410.0,"Pilestræde 55, 4. tv",49,1112
21,21,NaN,17151,1,0,1810,København K,2018-06-04T10:40:59.967Z,445,91,D,7064,3.0,NaN,F8846456-A7B3-456E-9F9B-C39D894FD9A7,1448667,"[{'id': 1448667, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.68079,12.58014,0,101,39503,NaN,10995000,-2,3,5.0,False,187,58796.0,"Pilestræde 35F, 3.",60,1112
22,22,NaN,117,1,0,1902,København K,2019-02-12T00:09:29.430Z,192,171,D,15908,3.0,NaN,27F162D2-2CD5-4A1A-B338-876E49EB8491,1522350,"[{'id': 1522350, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.68034,12.58052,0,101,0,NaN,23000000,0,3,5.0,False,322,71428.0,"Pilestræde 21, 3. nr. 4",121,1112
23,23,NaN,610,1,0,1902,København K,2019-05-01T03:21:21.177Z,114,3,D,2745,4.0,NaN,3F471292-FC6C-4161-A752-D1A449C8BCB0,1552148,"[{'id': 1552148, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.68031,12.58020,0,101,0,NaN,4595000,-4,3,2.0,False,76,60460.0,"Silkegade 17, 4. tv.",21,1113
24,24,NaN,207,1,0,1747,København K,2019-05-28T03:25:29.740Z,87,7,C,6041,1.0,NaN,64275571-4FD7-462A-8259-23DCBDF6D545,1561303,"[{'id': 1561303, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.68083,12.57830,0,101,0,NaN,4995000,0,3,4.0,False,107,46682.0,"Klareboderne 6, 1.",36,1115
25,25,NaN,24756,1,0,1734,København K,2019-05-17T00:03:21.550Z,98,817,-,1575,1.0,NaN,B3F98938-58CF-40D7-89D0-57CA6491D714,1557792,"[{'id': 1557792, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.68184,12.57979,0,101,10467,NaN,2995000,-25,3,1.0,False,39,76794.0,"Gammel Mønt 41, 1. tv.",64,1117
26,26,Paulun København City,25793,1,0,1883,København K,2019-08-15T00:03:49.313Z,8,1091,D,3703,1.0,3.0,3EC23C78-1725-4D40-A7DE-8EB12A9A3592,1585380,"[{'id': 1585380, 'date': '2019-08-23T14:46:45....",False,True,False,True,55.68346,12.57733,0,101,11368,NaN,3195000,0,3,2.0,False,66,48409.0,"Gothersgade 93D, 1. tv.",44,1123
27,27,NaN,25402,1,0,1848,København K,2019-04-10T03:42:26.443Z,135,691,G,3218,2.0,NaN,E64AC942-9FB3-44F0-92F4-08C5796F5FC5,1543494,"[{'id': 1543494, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.68211,12.58245,0,101,0,NaN,3550000,0,3,2.0,False,68,52205.0,"Gothersgade 33A, 2. tv",26,1123
28,28,Paulun København City,25793,1,0,1883,København K,2019-08-15T00:03:49.090Z,8,1091,D,4572,2.0,3.0,6EF52D83-40FF-4E2C-B457-A971C61EBD7E,1585378,"[{'id': 1585378, 'date': '2019-08-23T14:46:45....",False,True,False,True,55.68346,12.57733,0,101,14202,NaN,3995000,0,3,2.0,False,83,48132.0,"Gothersgade 93D, 2.",42,1123
29,29,NaN,610,1,0,1877,København K,2019-07-05T03:19:21.283Z,49,3,C,5569,4.0,NaN,C7827D46-7F3F-4194-AB51-1BE17FA2F6DA,1574638,"[{'id': 1574638, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.68543,12.56982,0,101,0,NaN,5295000,0,3,4.0,False,120,44125.0,"Gothersgade 149, 4.",49,1123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65920,20,NaN,454,11,68,1913,Skagen,2019-07-24T03:47:55.407Z,30,7,E,3170,NaN,NaN,F71891D5-B297-40BB-9B39-17C244EDD1B8,1579666,NaN,False,True,False,False,57.71869,10.58380,317,813,0,NaN,4995000,0,1,3.0,False,129,38720.0,Sct. Clemens Vej 4,2,9990
65921,21,NaN,454,11,0,1900,Skagen,2016-05-27T05:20:48.943Z,1183,7,-,3042,NaN,NaN,96B98E52-662A-452B-AEAC-2A60575EFCC7,1217804,NaN,False,True,False,False,57.72508,10.60365,524,813,0,NaN,5095000,-12,4,5.0,False,118,43177.0,Kjeldergangen 7,5,9990
65922,22,NaN,17142,11,0,2011,Skagen,2019-04-06T00:35:15.123Z,139,48,b,5022,NaN,NaN,76FCDFF5-2628-4936-81ED-85AF9AD4C46E,1542046,NaN,False,True,False,False,57.72747,10.53074,1400,813,18655,NaN,5295000,0,1,4.0,False,171,30964.0,Søndermarken 2,0,9990
65923,23,NaN,17142,11,0,1927,Skagen,2019-06-21T00:35:03.677Z,63,48,d,3863,NaN,NaN,NaN,1569648,NaN,False,True,False,False,57.72099,10.58796,400,813,18655,NaN,5295000,0,1,6.0,False,173,30606.0,Kappelborgvej 17,1,9990
65924,24,NaN,17142,11,0,2007,Skagen,2019-04-08T00:35:08.410Z,137,48,b,4277,NaN,NaN,E45A4012-F03A-4E8E-9B54-32B5196B2351,1542665,NaN,False,True,False,False,57.72741,10.53144,1200,813,18932,NaN,5375000,0,1,4.0,False,142,37852.0,Søndermarken 5,1,9990
65925,25,NaN,17142,11,0,1959,Skagen,2019-08-15T00:35:08.547Z,8,48,d,3851,NaN,NaN,77352801-E8F7-4978-93F9-9D0307F18E22,1585460,NaN,False,True,False,False,57.72985,10.60786,834,813,19052,NaN,5500000,0,1,4.0,False,173,31791.0,Fyrvej 13,7,9990
65926,26,NaN,454,11,0,1960,Skagen,2018-10-25T04:01:19.387Z,302,7,-,2562,NaN,NaN,56AFDCE5-DCFD-4971-AA0C-4EF481E9379C,1495647,"[{'id': 1352618, 'date': '2018-10-14T22:00:00....",False,True,False,False,57.72413,10.53306,2500,813,0,NaN,5600000,0,4,5.0,False,95,58947.0,Engklitvej 16,4,9990
65927,27,NaN,454,11,0,2017,Skagen,2019-03-26T03:13:05.213Z,150,7,K,2206,NaN,NaN,E75DCA1E-B85E-4477-978A-C186151D3150,1537122,NaN,False,True,False,False,57.73715,10.55618,673,813,0,NaN,5900000,0,1,5.0,False,235,25106.0,Strandklit 86,3,9990
65928,28,NaN,17142,11,0,1983,Skagen,2019-04-08T00:35:07.407Z,137,48,-,4753,NaN,NaN,6FD7360E-F126-4DEA-812E-16F98D1CC7AF,1542664,NaN,False,True,False,False,57.72861,10.53303,900,813,21420,NaN,5975000,0,4,4.0,False,139,42985.0,Redningsvej 10,0,9990
65929,29,NaN,454,11,131,1950,Skagen,2017-12-31T03:18:25.530Z,600,7,D,3655,NaN,NaN,D91C64C8-373E-40F0-9B10-BB62FA71CA5B,1394781,"[{'id': 1109994, 'date': '2015-09-10T22:00:00....",False,True,False,False,57.72305,10.59769,570,813,0,NaN,5995000,-4,1,8.0,False,202,29678.0,Østre Strandvej 47,0,9990
65930,30,NaN,17142,11,0,2007,Skagen,2018-04-28T00:35:18.860Z,482,48,c,5125,NaN,NaN,331A3448-A12F-4F49-BC6F-1820911D965E,1433091,NaN,False,True,False,False,57.72787,10.52676,700,813,21115,NaN,5995000,0,1,5.0,False,200,29975.0,Højensvej 22A,2,9990
65931,31,NaN,454,11,25,1986,Skagen,2017-05-10T03:26:38.463Z,835,7,-,4269,NaN,NaN,11C3A880-8B2A-4A44-9EE7-1BB16FECAA94,1325261,NaN,False,True,False,False,57.72996,10.53396,900,813,0,NaN,6195000,0,4,6.0,False,137,45218.0,Redningsvej 21,4,9990
65932,32,NaN,17142,11,0,1911,Skagen,2019-01-05T00:35:05.453Z,230,48,g,3159,NaN,NaN,8BCF5301-B240-4D34-A7F4-7A32D430202A,1512395,NaN,False,True,False,False,57.71498,10.57454,635,813,21818,NaN,6195000,0,1,3.0,False,85,72882.0,Krøyersvej 12B,0,9990
65933,33,NaN,454,11,74,1999,Skagen,2019-02-09T03:58:02.777Z,195,7,C,3883,NaN,NaN,AEC1B203-62BA-4B55-9108-39D043E367ED,1521960,NaN,False,True,False,False,57.71592,10.57218,685,813,0,2019-08-24T13:00:00.000Z,6195000,-11,1,6.0,False,191,32434.0,Gl. Kirkesti 7A,3,9990
65934,34,NaN,17142,11,0,1990,Skagen,2019-04-09T00:35:14.193Z,136,48,-,4240,NaN,NaN,77F06D7A-8620-47CC-A04A-B2DDE15E5F47,1542811,NaN,False,True,False,False,57.72862,10.53541,975,813,22212,NaN,6195000,0,4,4.0,False,150,41300.0,Redningsvej 22,5,9990
65935,35,NaN,17142,11,0,2017,Skagen,2018-08-08T00:35:19.100Z,380,48,-,3306,NaN,NaN,2CCF39CB-58E9-4148-83A6-A06E1BA0D72F,1469989,NaN,False,True,False,False,57.72099,10.58266,600,813,22522,NaN,6395000,0,1,5.0,False,141,45354.0,Skovvej 6A,0,9990
65936,36,NaN,454,11,0,2018,Skagen,2019-04-14T03:39:30.010Z,131,7,-,1519,NaN,NaN,91CB55DD-4B0B-437D-A627-BD10913D5F92,1546197,NaN,False,True,False,False,57.72439,10.53638,17752,813,0,NaN,6500000,0,4,4.0,False,97,67010.0,Engklitvej 30,3,9990
65937,37,NaN,454,11,0,1967,Skagen,2019-07-13T03:26:09.107Z,41,7,-,6464,NaN,NaN,3F694CF1-14D1-415C-A305-55154CF254C4,1577221,NaN,False,True,False,False,57.72348,10.52233,6280,813,0,NaN,6500000,0,4,5.0,False,116,56034.0,Rævehulevej 14,5,9990
65938,38,NaN,17142,11,0,1918,Skagen,2018-03-22T00:35:09.290Z,519,48,e,3282,NaN,NaN,FCE345D8-4842-4332-90DA-C34960DB18C5,1418572,"[{'id': 1257248, 'date': '2018-02-15T23:00:00....",False,True,False,False,57.72500,10.59962,341,813,24629,NaN,6995000,0,1,4.0,False,152,46019.0,Østerbyvej 2,4,9990
65939,39,NaN,17142,11,0,2011,Skagen,2017-10-28T00:35:09.803Z,664,48,-,5630,NaN,NaN,EC7FE0C1-DB51-451C-B3A6-1A3D25E84E79,1379813,NaN,False,True,False,False,57.72291,10.52506,2680,813,25808,NaN,7200000,0,4,3.0,False,101,71287.0,Lærkestien 6,2,9990
65940,40,NaN,454,11,0,1902,Skagen,2019-07-17T03:28:17.267Z,37,7,C,2427,NaN,NaN,C1B91AA9-A08E-47CA-95B8-73448ED67ECE,1578005,NaN,False,True,False,False,57.72481,10.60004,440,813,0,NaN,7250000,0,1,5.0,False,126,57539.0,Ole Svendsens Vej 4,2,9990
65941,41,NaN,454,11,0,2001,Skagen,2018-09-05T04:10:33.743Z,352,7,C,2236,NaN,NaN,918E7992-A154-49DA-A2FF-E47BF6F0D45B,1479257,NaN,False,True,False,False,57.71595,10.56741,541,813,0,NaN,7400000,0,1,4.0,False,158,46835.0,Gl. Kirkesti 27,4,9990
65942,42,NaN,17142,11,0,2015,Skagen,2017-11-25T00:35:11.783Z,636,48,b,4568,NaN,NaN,9E345F8A-E2E8-44A6-AE30-E8287A6B3BB9,1387716,NaN,False,True,False,False,57.73795,10.55628,1692,813,29899,NaN,8495000,-15,1,4.0,False,286,29702.0,Strandklit 80,9,9990
65943,43,NaN,454,11,107,1973,Skagen,2018-05-03T03:28:52.050Z,477,7,E,5177,NaN,NaN,8ADB8AA9-F7C1-4E21-B162-346D9BFB310D,1434758,NaN,False,True,False,False,57.71666,10.57045,1952,813,0,NaN,8950000,-10,1,7.0,False,323,27708.0,Tuxens Alle 3,4,9990
65944,44,NaN,454,11,6,1920,Skagen,2019-06-14T03:27:24.960Z,70,7,-,2977,NaN,NaN,836CF3C9-4F10-4D89-A432-6DCB64D825D7,1567446,NaN,False,True,False,False,57.72842,10.60671,10080,813,0,NaN,10000000,0,4,4.0,False,108,92592.0,Gl. Fyrvej 2,9,9990
65945,45,NaN,454,11,17,1993,Skagen,2019-08-13T03:21:09.000Z,10,7,D,6045,NaN,NaN,2B144748-6D67-4C4D-87F9-82FAD48C0EEC,1584779,"[{'id': 1456711, 'date': '2019-08-06T22:00:00....",False,True,False,False,57.72656,10.51932,1164,813,0,2019-08-24T13:00:00.000Z,10800000,0,1,7.0,False,216,50000.0,Hans Ruths Vej 23,12,9990
65946,46,NaN,454,11,140,1922,Skagen,2018-07-28T03:48:49.173Z,391,7,C,4344,NaN,NaN,NaN,1467587,NaN,False,True,False,False,57.71859,10.58343,858,813,0,NaN,12000000,0,1,20.0,False,358,33519.0,Sct. Clemens Vej 3,4,9990
65947,47,NaN,454,11,0,1971,Skagen,2019-06-05T03:52:20.880Z,79,7,C,2238,NaN,NaN,B9D3A63F-2205-45A1-A42C-7B25E3CCF34C,1564194,NaN,False,True,False,False,57.72949,10.53996,1217,813,0,NaN,12800000,0,1,5.0,False,221,57918.0,Østerklit 16,6,9990
65948,48,NaN,17142,11,0,1988,Skagen,2019-03-09T00:35:06.353Z,167,48,-,7936,NaN,NaN,8ABED27C-BEFE-4E23-9713-5CF45C9AD354,1531104,NaN,False,True,False,False,57.72394,10.51832,6840,813,49775,NaN,13900000,0,4,4.0,False,165,84242.0,Rævehulevej 26,17,9990
65949,49,NaN,17142,11,0,1947,Skagen,2019-07-02T00:35:14.253Z,52,48,d,4361,8.0,NaN,NaN,1573049,NaN,False,True,False,False,57.71726,10.57670,1567,813,52055,NaN,14800000,0,1,15.0,False,496,29838.0,Fabriciusvej 6-8,5,9990

In [19]:
df['addr_full'] = df['street'] + " " + df['city']
df['coordinate'] = df['latitude'].astype(str) + ', ' + df['longitude'].astype(str)
df

,Unnamed: 0,agentDisplayName,agentRegId,area,basementSize,buildYear,city,createdDate,daysForSale,domainId,energyClass,exp,floor,groupKey,guid,id,images,inWatchlist,isActive,isForeclosure,isPremiumAgent,latitude,longitude,lotSize,municipality,net,openHouse,price,priceChangePercentTotal,propertyType,rooms,selfsale,size,squaremeterPrice,street,views,zipCode,addr_full,coordinate
0,0,NaN,24254,1,0,1767,København K,2019-05-22T00:35:07.000Z,93,944,-,16872,3.0,NaN,147A17D5-24CA-4788-8009-F53DEFF2836C,1559151,"[{'id': 1559151, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67996,12.58478,0,101,67026,NaN,18750000,0,3,6.0,False,280,66964.0,"Kongens Nytorv 21, 3. tv",557,1050,"Kongens Nytorv 21, 3. tv København K","55.679959999999994, 12.58478"
1,1,NaN,207,1,88,1880,København K,2019-06-14T03:27:01.490Z,70,7,C,5702,NaN,1.0,EE6F79CE-E04F-4D59-9845-E08F98251FC9,1567291,"[{'id': 1567291, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67926,12.59149,0,101,0,NaN,10500000,0,3,4.0,False,83,126506.0,"Nyhavn 38, st. Dør/lejl. 4",139,1051,"Nyhavn 38, st. Dør/lejl. 4 København K","55.67926, 12.59149"
2,2,NaN,117,1,0,1755,København K,2019-04-24T00:09:51.880Z,121,171,C,9486,1.0,NaN,23F2A968-9A3B-44C0-BB55-22A9005DEC2C,1549766,"[{'id': 1549766, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67981,12.59206,0,101,0,NaN,15000000,0,3,7.0,False,274,54744.0,"Nyhavn 53, 1.",110,1051,"Nyhavn 53, 1. København K","55.679809999999996, 12.59206"
3,3,NaN,17151,1,0,1880,København K,2019-05-08T00:04:30.737Z,107,91,C,17609,5.0,1.0,0CB9E79E-C298-47B9-88E4-23F67F0A0A5B,1554276,"[{'id': 1554276, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67926,12.59149,0,101,70224,2019-08-25T14:00:00.000Z,19995000,0,3,7.0,False,296,67550.0,"Nyhavn 38, 5. tv.",317,1051,"Nyhavn 38, 5. tv. København K","55.67926, 12.59149"
4,4,NaN,17489,1,0,1873,København K,2019-07-12T03:21:26.060Z,42,9,C,5590,3.0,NaN,A7380CBF-7220-447E-878E-5B044910369E,1576691,"[{'id': 1576691, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67852,12.59114,0,101,0,NaN,8750000,0,3,7.0,False,163,53680.0,"Herluf Trolles Gade 22, 3. th",122,1052,"Herluf Trolles Gade 22, 3. th København K","55.67851999999999, 12.59114"
5,5,NaN,25207,1,0,1873,København K,2019-08-14T00:02:15.130Z,9,419,C,5739,5.0,NaN,BEE71A72-0AD9-423D-89E5-25C11417B767,1584826,"[{'id': 1584826, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67847,12.59073,0,101,0,NaN,11500000,0,3,4.0,False,164,70121.0,"Cort Adelers Gade 1, 5. tv.",95,1053,"Cort Adelers Gade 1, 5. tv. København K","55.67847, 12.59073"
6,6,NaN,502,1,0,1870,København K,2019-08-09T03:06:43.653Z,14,9,D,4461,1.0,NaN,11C2ABEA-7CE8-4B0D-9055-8D6D92C0B7C3,1583581,"[{'id': 1583581, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67702,12.58935,0,101,0,NaN,4495000,0,3,3.0,False,76,59144.0,"Peder Skrams Gade 28, 1. tv",100,1054,"Peder Skrams Gade 28, 1. tv København K","55.67702, 12.58935"
7,7,NaN,22489,1,0,1872,København K,2019-06-12T00:03:09.230Z,72,811,D,9790,1.0,NaN,CFF82481-C230-4FD9-921A-9D9F2E502FE2,1565985,"[{'id': 1565985, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67724,12.58791,0,101,9790,2019-08-25T14:15:00.000Z,4494000,0,5,6.0,False,132,0.0,"Tordenskjoldsgade 26, 1. tv.",145,1055,"Tordenskjoldsgade 26, 1. tv. København K","55.677240000000005, 12.58791"
8,8,NaN,24749,1,0,1900,København K,2019-07-08T00:35:06.767Z,46,1030,d,5606,4.0,NaN,83D57A73-014C-4621-B53F-74BA689F18C1,1575319,"[{'id': 1575319, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67709,12.58987,0,101,33986,NaN,9500000,0,3,4.0,False,122,77868.0,"Havnegade 35, 4. th",108,1058,"Havnegade 35, 4. th København K","55.67709, 12.58987"
9,9,NaN,25402,1,0,1796,København K,2019-03-22T03:03:55.040Z,154,691,-,2771,4.0,2.0,15A4117C-65C2-4FA6-8394-F45F5B3FB7D4,1535743,"[{'id': 1535743, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67755,12.58208,0,101,0,NaN,5995000,-4,3,3.0,False,125,47960.0,"Boldhusgade 2, 4.",60,1062,"Boldhusgade 2, 4. København K","55.67755, 12.58208"
10,10,NaN,25402,1,0,1796,København K,2019-06-27T03:37:18.940Z,57,691,-,4723,2.0,2.0,A91CD8E4-881B-4E97-9D3D-964EBD315147,1571948,"[{'id': 1571948, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67755,12.58208,0,101,0,NaN,7695000,0,3,3.0,False,144,53437.0,"Boldhusgade 2, 2.",46,1062,"Boldhusgade 2, 2. København K","55.67755, 12.58208"
11,11,NaN,610,1,0,1797,København K,2019-06-20T03:37:30.653Z,64,3,E,2999,1.0,NaN,D8381397-6767-411C-834C-14FF11C358B3,1569281,"[{'id': 1569281, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67784,12.58325,1010,101,0,2019-08-25T12:00:00.000Z,2795000,-7,3,2.0,False,51,54803.0,"Laksegade 20F, 1. th.",133,1063,"Laksegade 20F, 1. th. København K","55.67784, 12.58325"
12,12,NaN,610,1,0,1797,København K,2019-08-13T03:20:33.657Z,10,3,E,3248,1.0,NaN,EE0D133E-CFB5-4E37-ABBA-B24562FB7180,1584703,"[{'id': 1584703, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67801,12.58327,0,101,0,2019-08-25T12:30:00.000Z,2995000,0,3,2.0,False,54,55462.0,"Laksegade 20B, 1. mf.",65,1063,"Laksegade 20B, 1. mf. København K","55.67801, 12.583269999999999"
13,13,NaN,25402,1,0,1797,København K,2019-06-06T03:51:44.797Z,78,691,E,3479,2.0,NaN,0A5A050B-1A32-4344-ACDC-B4CA5BEF22F6,1564406,"[{'id': 1564406, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67794,12.58299,0,101,0,NaN,3500000,0,3,2.0,False,59,59322.0,"Laksegade 20D, 2. mf",41,1063,"Laksegade 20D, 2. mf København K","55.67794, 12.582989999999999"
14,14,NaN,25402,1,0,1797,København K,2019-08-01T03:47:17.660Z,22,691,E,4509,2.0,NaN,1629E449-B3B8-4E83-9BB0-962CEBE1750A,1581472,"[{'id': 1581472, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67781,12.58311,0,101,0,2019-08-25T12:00:00.000Z,3550000,0,3,2.0,False,75,47333.0,"Laksegade 20E, 2.",68,1063,"Laksegade 20E, 2. København K","55.67781, 12.583110000000001"
15,15,NaN,610,1,0,1799,København K,2018-12-20T03:34:50.233Z,246,3,-,4081,2.0,NaN,D120BF2A-E847-4B11-BF37-BE9CE9733F3F,1510447,"[{'id': 1510447, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67811,12.58245,0,101,0,NaN,4195000,-5,3,4.0,False,84,49940.0,"Nikolajgade 20, 2. th.",71,1068,"Nikolajgade 20, 2. th. København K","55.67811, 12.58245"
16,16,NaN,17151,1,0,1817,København K,2019-06-10T00:07:02.240Z,74,91,-,5087,2.0,NaN,A5FD6A37-8128-478D-84AA-F788C5352540,1565858,"[{'id': 1565858, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67820,12.58273,0,101,17231,2019-08-25T13:50:00.000Z,4895000,-11,3,2.0,False,94,52074.0,"Nikolajgade 18, 2. th.",91,1068,"Nikolajgade 18, 2. th. København K","55.6782, 12.58273"
17,17,NaN,17151,1,0,1690,København K,2019-06-27T00:03:19.970Z,57,91,C,2549,3.0,NaN,54A2682E-2759-4230-A490-97EB3A12B8FA,1571657,"[{'id': 1571657, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.68172,12.58341,0,101,11966,2019-08-25T13:20:00.000Z,3395000,-3,3,3.0,False,72,47152.0,"Grønnegade 43, 3.",138,1107,"Grønnegade 43, 3. København K","55.68172, 12.58341"
18,18,NaN,7,1,0,1741,København K,2019-04-17T00:07:49.497Z,128,42,-,6834,3.0,NaN,93E0EC3A-7FED-4065-913D-3BB51F8F7D63,1547075,"[{'id': 1547075, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.68136,12.58310,0,101,19495,NaN,5495000,0,3,4.0,False,120,45791.0,"Grønnegade 29, 3.",50,1107,"Grønnegade 29, 3. København K","55.68136, 12.5831"
19,19,NaN,17463,1,0,1848,København K,2019-07-03T00:35:21.063Z,51,616,f,5665,1.0,NaN,A180C15E-5F90-41F2-A9E7-7D5721858080,1573503,"[{'id': 1573503, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.68204,12.58249,0,101,16577,2019-08-25T14:45:00.000Z,4995000,0,3,3.0,False,116,43060.0,"Store Regnegade 19A, 1. th",63,1110,"Store Regnegade 19A, 1. th København K","55.68204, 12.58249"
20,20,NaN,207,1,0,1991,København K,2019-04-30T03:17:43.653Z,115,7,C,3401,4.0,NaN,E8D9C960-8DEF-45F7-B52B-DFD35BA6116F,1551496,"[{'id': 1551496, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.68158,12.57826,0,101,0,2019-08-26T09:00:00.000Z,4400000,-2,3,2.0,False,78,56410.0,"Pilestræde 55, 4. tv",49,1112,"Pilestræde 55, 4. tv København K","55.681580000000004, 12.57826"
21,21,NaN,17151,1,0,1810,København K,2018-06-04T10:40:59.967Z,445,91,D,7064,3.0,NaN,F8846456-A7B3-456E-9F9B-C39D894FD9A7,1448667,"[{'id': 1448667, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.68079,12.58014,0,101,39503,NaN,10995000,-2,3,5.0,False,187,58796.0,"Pilestræde 35F, 3.",60,1112,"Pilestræde 35F, 3. København K","55.68079, 12.58014"
22,22,NaN,117,1,0,1902,København K,2019-02-12T00:09:29.430Z,192,171,D,15908,3.0,NaN,27F162D2-2CD5-4A1A-B338-876E49EB8491,1522350,"[{'id': 1522350, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.68034,12.58052,0,101,0,NaN,23000000,0,3,5.0,False,322,71428.0,"Pilestræde 21, 3. nr. 4",121,1112,"Pilestræde 21, 3. nr. 4 København K","55.68034, 12.58052"
23,23,NaN,610,1,0,1902,København K,2019-05-01T03:21:21.177Z,114,3,D,2745,4.0,NaN,3F471292-FC6C-4161-A752-D1A449C8BCB0,1552148,"[{'id': 1552148, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.68031,12.58020,0,101,0,NaN,4595000,-4,3,2.0,False,76,60460.0,"Silkegade 17, 4. tv.",21,1113,"Silkegade 17, 4. tv. København K","55.68031, 12.5802"
24,24,NaN,207,1,0,1747,København K,2019-05-28T03:25:29.740Z,87,7,C,6041,1.0,NaN,64275571-4FD7-462A-8259-23DCBDF6D545,1561303,"[{'id': 1561303, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.68083,12.57830,0,101,0,NaN,4995000,0,3,4.0,False,107,46682.0,"Klareboderne 6, 1.",36,1115,"Klareboderne 6, 1. København K","55.68083000000001, 12.5783"
25,25,NaN,24756,1,0,1734,København K,2019-05-17T00:03:21.550Z,98,817,-,1575,1.0,NaN,B3F98938-58CF-40D7-89D0-57CA6491D714,1557792,"[{'id': 1557792, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.68184,12.57979,0,101,10467,NaN,2995000,-25,3,1.0,False,39,76794.0,"Gammel Mønt 41, 1. tv.",64,1117,"Gammel Mønt 41, 1. tv. København K","55.68184, 12.57979"
26,26,Paulun København City,25793,1,0,1883,København K,2019-08-15T00:03:49.313Z,8,1091,D,3703,1.0,3.0,3EC23C78-1725-4D40-A7DE-8EB12A9A3592,1585380,"[{'id': 1585380, 'date': '2019-08-23T14:46:45....",False,True,False,True,55.68346,12.57733,0,101,11368,NaN,3195000,0,3,2.0,False,66,48409.0,"Gothersgade 93D, 1. tv.",44,1123,"Gothersgade 93D, 1. tv. København K","55.68346, 12.57733"
27,27,NaN,25402,1,0,1848,København K,2019-04-10T03:42:26.443Z,135,691,G,3218,2.0,NaN,E64AC942-9FB3-44F0-92F4-08C5796F5FC5,1543494,"[{'id': 1543494, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.68211,12.58245,0,101,0,NaN,3550000,0,3,2.0,False,68,52205.0,"Gothersgade 33A, 2. tv",26,1123,"Gothersgade 33A, 2. tv København K","55.682109999999994, 12.58245"
28,28,Paulun København City,25793,1,0,1883,København K,2019-08-15T00:03:49.090Z,8,1091,D,4572,2.0,3.0,6EF52D83-40FF-4E2C-B457-A971C61EBD7E,1585378,"[{'id': 1585378, 'date': '2019-08-23T14:46:45....",False,True,False,True,55.68346,12.57733,0,101,14202,NaN,3995000,0,3,2.0,False,83,48132.0,"Gothersgade 93D, 2.",42,1123,"Gothersgade 93D, 2. København K","55.68346, 12.57733"
29,29,NaN,610,1,0,1877,København K,2019-07-05T03:19:21.283Z,49,3,C,5569,4.0,NaN,C7827D46-7F3F-4194-AB51-1BE17FA2F6DA,1574638,"[{'id': 1574638, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.68543,12.56982,0,101,0,NaN,5295000,0,3,4.0,False,120,44125.0,"Gothersgade 149, 4.",49,1123,"Gothersgade 149, 4. København K","55.685430000000004, 12.56982"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65920,20,NaN,454,11,68,1913,Skagen,2019-07-24T03:47:55.407Z,30,7,E,3170,NaN,NaN,F71891D5-B297-40BB-9B39-17C244EDD1B8,1579666,NaN,False,True,False,False,57.71869,10.58380,317,813,0,NaN,4995000,0,1,3.0,False,129,38720.0,Sct. Clemens Vej 4,2,9990,Sct. Clemens Vej 4 Skagen,"57.71869, 10.5838"
65921,21,NaN,454,11,0,1900,Skagen,2016-05-27T05:20:48.943Z,1183,7,-,3042,NaN,NaN,96B98E52-662A-452B-AEAC-2A60575EFCC7,1217804,NaN,False,True,False,False,57.72508,10.60365,524,813,0,NaN,5095000,-12,4,5.0,False,118,43177.0,Kjeldergangen 7,5,9990,Kjeldergangen 7 Skagen,"57.725080000000005, 10.60365"
65922,22,NaN,17142,11,0,2011,Skagen,2019-04-06T00:35:15.123Z,139,48,b,5022,NaN,NaN,76FCDFF5-2628-4936-81ED-85AF9AD4C46E,1542046,NaN,False,True,False,False,57.72747,10.53074,1400,813,18655,NaN,5295000,0,1,4.0,False,171,30964.0,Søndermarken 2,0,9990,Søndermarken 2 Skagen,"57.72747, 10.53074"
65923,23,NaN,17142,11,0,1927,Skagen,2019-06-21T00:35:03.677Z,63,48,d,3863,NaN,NaN,NaN,1569648,NaN,False,True,False,False,57.72099,10.58796,400,813,18655,NaN,5295000,0,1,6.0,False,173,30606.0,Kappelborgvej 17,1,9990,Kappelborgvej 17 Skagen,"57.72099, 10.58796"
65924,24,NaN,17142,11,0,2007,Skagen,2019-04-08T00:35:08.410Z,137,48,b,4277,NaN,NaN,E45A4012-F03A-4E8E-9B54-32B5196B2351,1542665,NaN,False,True,False,False,57.72741,10.53144,1200,813,18932,NaN,5375000,0,1,4.0,False,142,37852.0,Søndermarken 5,1,9990,Søndermarken 5 Skagen,"57.72741, 10.53144"
65925,25,NaN,17142,11,0,1959,Skagen,2019-08-15T00:35:08.547Z,8,48,d,3851,NaN,NaN,77352801-E8F7-4978-93F9-9D0307F18E22,1585460,NaN,False,True,False,False,57.72985,10.60786,834,813,19052,NaN,5500000,0,1,4.0,False,173,31791.0,Fyrvej 13,7,9990,Fyrvej 13 Skagen,"57.72985, 10.60786"
65926,26,NaN,454,11,0,1960,Skagen,2018-10-25T04:01:19.387Z,302,7,-,2562,NaN,NaN,56AFDCE5-DCFD-4971-AA0C-4EF481E9379C,1495647,"[{'id': 1352618, 'date': '2018-10-14T22:00:00....",False,True,False,False,57.72413,10.53306,2500,813,0,NaN,5600000,0,4,5.0,False,95,58947.0,Engklitvej 16,4,9990,Engklitvej 16 Skagen,"57.72413, 10.53306"
65927,27,NaN,454,11,0,2017,Skagen,2019-03-26T03:13:05.213Z,150,7,K,2206,NaN,NaN,E75DCA1E-B85E-4477-978A-C186151D3150,1537122,NaN,False,True,False,False,57.73715,10.55618,673,813,0,NaN,5900000,0,1,5.0,False,235,25106.0,Strandklit 86,3,9990,Strandklit 86 Skagen,"57.73715, 10.55618"
65928,28,NaN,17142,11,0,1983,Skagen,2019-04-08T00:35:07.407Z,137,48,-,4753,NaN,NaN,6FD7360E-F126-4DEA-812E-16F98D1CC7AF,1542664,NaN,False,True,False,False,57.72861,10.53303,900,813,21420,NaN,5975000,0,4,4.0,False,139,42985.0,Redningsvej 10,0,9990,Redningsvej 10 Skagen,"57.728609999999996, 10.53303"
65929,29,NaN,454,11,131,1950,Skagen,2017-12-31T03:18:25.530Z,600,7,D,3655,NaN,NaN,D91C64C8-373E-40F0-9B10-BB62FA71CA5B,1394781,"[{'id': 1109994, 'date': '2015-09-10T22:00:00....",False,True,False,False,57.72305,10.59769,570,813,0,NaN,5995000,-4,1,8.0,False,202,29678.0,Østre Strandvej 47,0,9990,Østre Strandvej 47 Skagen,"57.72305, 10.59769"
65930,30,NaN,17142,11,0,2007,Skagen,2018-04-28T00:35:18.860Z,482,48,c,5125,NaN,NaN,331A3448-A12F-4F49-BC6F-1820911D965E,1433091,NaN,False,True,False,False,57.72787,10.52676,700,813,21115,NaN,5995000,0,1,5.0,False,200,29975.0,Højensvej 22A,2,9990,Højensvej 22A Skagen,"57.727869999999996, 10.526760000000001"
65931,31,NaN,454,11,25,1986,Skagen,2017-05-10T03:26:38.463Z,835,7,-,4269,NaN,NaN,11C3A880-8B2A-4A44-9EE7-1BB16FECAA94,1325261,NaN,False,True,False,False,57.72996,10.53396,900,813,0,NaN,6195000,0,4,6.0,False,137,45218.0,Redningsvej 21,4,9990,Redningsvej 21 Skagen,"57.72996, 10.53396"
65932,32,NaN,17142,11,0,1911,Skagen,2019-01-05T00:35:05.453Z,230,48,g,3159,NaN,NaN,8BCF5301-B240-4D34-A7F4-7A32D430202A,1512395,NaN,False,True,False,False,57.71498,10.57454,635,813,21818,NaN,6195000,0,1,3.0,False,85,72882.0,Krøyersvej 12B,0,9990,Krøyersvej 12B Skagen,"57.714980000000004, 10.574539999999999"
65933,33,NaN,454,11,74,1999,Skagen,2019-02-09T03:58:02.777Z,195,7,C,3883,NaN,NaN,AEC1B203-62BA-4B55-9108-39D043E367ED,1521960,NaN,False,True,False,False,57.71592,10.57218,685,813,0,2019-08-24T13:00:00.000Z,6195000,-11,1,6.0,False,191,32434.0,Gl. Kirkesti 7A,3,9990,Gl. Kirkesti 7A Skagen,"57.71592, 10.57218"
65934,34,NaN,17142,11,0,1990,Skagen,2019-04-09T00:35:14.193Z,136,48,-,4240,NaN,NaN,77F06D7A-8620-47CC-A04A-B2DDE15E5F47,1542811,NaN,False,True,False,False,57.72862,10.53541,975,813,22212,NaN,6195000,0,4,4.0,False,150,41300.0,Redningsvej 22,5,9990,Redningsvej 22 Skagen,"57.72861999999999, 10.53541"
65935,35,NaN,17142,11,0,2017,Skagen,2018-08-08T00:35:19.100Z,380,48,-,3306,NaN,NaN,2CCF39CB-58E9-4148-83A6-A06E1BA0D72F,1469989,NaN,False,True,False,False,57.72099,10.58266,600,813,22522,NaN,6395000,0,1,5.0,False,141,45354.0,Skovvej 6A,0,9990,Skovvej 6A Skagen,"57.72099, 10.58266"
65936,36,NaN,454,11,0,2018,Skagen,2019-04-14T03:39:30.010Z,131,7,-,1519,NaN,NaN,91CB55DD-4B0B-437D-A627-BD10913D5F92,1546197,NaN,False,True,False,False,57.72439,10.53638,17752,813,0,NaN,6500000,0,4,4.0,False,97,67010.0,Engklitvej 30,3,9990,Engklitvej 30 Skagen,"57.72439, 10.53638"
65937,37,NaN,454,11,0,1967,Skagen,2019-07-13T03:26:09.107Z,41,7,-,6464,NaN,NaN,3F694CF1-14D1-415C-A305-55154CF254C4,1577221,NaN,False,True,False,False,57.72348,10.52233,6280,813,0,NaN,6500000,0,4,5.0,False,116,56034.0,Rævehulevej 14,5,9990,Rævehulevej 14 Skagen,"57.72348, 10.52233"
65938,38,NaN,17142,11,0,1918,Skagen,2018-03-22T00:35:09.290Z,519,48,e,3282,NaN,NaN,FCE345D8-4842-4332-90DA-C34960DB18C5,1418572,"[{'id': 1257248, 'date': '2018-02-15T23:00:00....",False,True,False,False,57.72500,10.59962,341,813,24629,NaN,6995000,0,1,4.0,False,152,46019.0,Østerbyvej 2,4,9990,Østerbyvej 2 Skagen,"57.725, 10.59962"
65939,39,NaN,17142,11,0,2011,Skagen,2017-10-28T00:35:09.803Z,664,48,-,5630,NaN,NaN,EC7FE0C1-DB51-451C-B3A6-1A3D25E84E79,1379813,NaN,False,True,False,False,57.72291,10.52506,2680,813,25808,NaN,7200000,0,4,3.0,False,101,71287.0,Lærkestien 6,2,9990,Lærkestien 6 Skagen,"57.72291, 10.52506"
65940,40,NaN,454,11,0,1902,Skagen,2019-07-17T03:28:17.267Z,37,7,C,2427,NaN,NaN,C1B91AA9-A08E-47CA-95B8-73448ED67ECE,1578005,NaN,False,True,False,False,57.72481,10.60004,440,813,0,NaN,7250000,0,1,5.0,False,126,57539.0,Ole Svendsens Vej 4,2,9990,Ole Svendsens Vej 4 Skagen,"57.72481, 10.60004"
65941,41,NaN,454,11,0,2001,Skagen,2018-09-05T04:10:33.743Z,352,7,C,2236,NaN,NaN,918E7992-A154-49DA-A2FF-E47BF6F0D45B,1479257,NaN,False,True,False,False,57.71595,10.56741,541,813,0,NaN,7400000,0,1,4.0,False,158,46835.0,Gl. Kirkesti 27,4,9990,Gl. Kirkesti 27 Skagen,"57.71595, 10.56741"
65942,42,NaN,17142,11,0,2015,Skagen,2017-11-25T00:35:11.783Z,636,48,b,4568,NaN,NaN,9E345F8A-E2E8-44A6-AE30-E8287A6B3BB9,1387716,NaN,False,True,False,False,57.73795,10.55628,1692,813,29899,NaN,8495000,-15,1,4.0,False,286,29702.0,Strandklit 80,9,9990,Strandklit 80 Skagen,"57.73795, 10.556280000000001"
65943,43,NaN,454,11,107,1973,Skagen,2018-05-03T03:28:52.050Z,477,7,E,5177,NaN,NaN,8ADB8AA9-F7C1-4E21-B162-346D9BFB310D,1434758,NaN,False,True,False,False,57.71666,10.57045,1952,813,0,NaN,8950000,-10,1,7.0,False,323,27708.0,Tuxens Alle 3,4,9990,Tuxens Alle 3 Skagen,"57.71666, 10.57045"
65944,44,NaN,454,11,6,1920,Skagen,2019-06-14T03:27:24.960Z,70,7,-,2977,NaN,NaN,836CF3C9-4F10-4D89-A432-6DCB64D825D7,1567446,NaN,False,True,False,False,57.72842,10.60671,10080,813,0,NaN,10000000,0,4,4.0,False,108,92592.0,Gl. Fyrvej 2,9,9990,Gl. Fyrvej 2 Skagen,"57.72841999999999, 10.606710000000001"
65945,45,NaN,454,11,17,1993,Skagen,2019-08-13T03:21:09.000Z,10,7,D,6045,NaN,NaN,2B144748-6D67-4C4D-87F9-82FAD48C0EEC,1584779,"[{'id': 1456711, 'date': '2019-08-06T22:00:00....",False,True,False,False,57.72656,10.51932,1164,813,0,2019-08-24T13:00:00.000Z,10800000,0,1,7.0,False,216,50000.0,Hans Ruths Vej 23,12,9990,Hans Ruths Vej 23 Skagen,"57.72656, 10.51932"
65946,46,NaN,454,11,140,1922,Skagen,2018-07-28T03:48:49.173Z,391,7,C,4344,NaN,NaN,NaN,1467587,NaN,False,True,False,False,57.71859,10.58343,858,813,0,NaN,12000000,0,1,20.0,False,358,33519.0,Sct. Clemens Vej 3,4,9990,Sct. Clemens Vej 3 Skagen,"57.71859, 10.58343"
65947,47,NaN,454,11,0,1971,Skagen,2019-06-05T03:52:20.880Z,79,7,C,2238,NaN,NaN,B9D3A63F-2205-45A1-A42C-7B25E3CCF34C,1564194,NaN,False,True,False,False,57.72949,10.53996,1217,813,0,NaN,12800000,0,1,5.0,False,221,57918.0,Østerklit 16,6,9990,Østerklit 16 Skagen,"57.729490000000006, 10.53996"

In [ ]:
url = 'https://dawa.aws.dk/kommuner/101'
resp = requests.get(url, 'html.parser').json()
resp['region']['navn']
resp['navn']

In [29]:
df.to_csv('Boliga Scraped.csv')

In [20]:
#Get the municipality from DAWA
import scraping_class
logfile = 'Boligscrape_log.csv'
connector = scraping_class.Connector(logfile)

import time
def get_what_we_want(kommune_kode):
    url = lambda q: 'https://dawa.aws.dk/kommuner/{}'.format(q)
    resp, call_id = connector.get(url(kommune_kode), 'Kommunedata')
    
    
    if not resp.status_code == 200:
        return ''
    resp = resp.json()
    kommune = resp['navn']
    
    return kommune

In [27]:
#Test
df_test = df.head(100)
df['Kommune'] = df_test.municipality.apply(get_what_we_want)

In [ ]:
df['Kommune'] = df_old.municipality.apply(get_what_we_want)

In [25]:
df['Kommune'] = [get_what_we_want(i) for i in tqdm.tqdm(df['municipality'])]

  0%|          | 0/100 [00:00<?, ?it/s]
  1%|          | 1/100 [00:00<00:53,  1.85it/s]
  2%|▏         | 2/100 [00:01<00:52,  1.87it/s]
  3%|▎         | 3/100 [00:01<00:51,  1.89it/s]
  4%|▍         | 4/100 [00:02<00:50,  1.90it/s]
  5%|▌         | 5/100 [00:02<00:49,  1.91it/s]
  6%|▌         | 6/100 [00:03<00:49,  1.91it/s]
  7%|▋         | 7/100 [00:03<00:48,  1.92it/s]
  8%|▊         | 8/100 [00:04<00:47,  1.92it/s]
  9%|▉         | 9/100 [00:04<00:47,  1.92it/s]
 10%|█         | 10/100 [00:05<00:46,  1.93it/s]
 11%|█         | 11/100 [00:05<00:46,  1.93it/s]
 12%|█▏        | 12/100 [00:06<00:45,  1.93it/s]
 13%|█▎        | 13/100 [00:06<00:45,  1.92it/s]
 14%|█▍        | 14/100 [00:07<00:44,  1.92it/s]
 15%|█▌        | 15/100 [00:07<00:44,  1.93it/s]
 16%|█▌        | 16/100 [00:08<00:43,  1.92it/s]
 17%|█▋        | 17/100 [00:08<00:43,  1.93it/s]
 18%|█▊        | 18/100 [00:09<00:42,  1.92it/s]
 19%|█▉        | 19/100 [00:09<00:42,  1.92it/s]
 20%|██        | 20/100 [00:10<00:41,  1.92it/s]
 21%|██        | 21/100 [00:10<00:41,  1.92it/s]
 22%|██▏       | 22/100 [00:11<00:40,  1.92it/s]
 23%|██▎       | 23/100 [00:11<00:40,  1.92it/s]
 24%|██▍       | 24/100 [00:12<00:39,  1.92it/s]
 25%|██▌       | 25/100 [00:13<00:39,  1.92it/s]
 26%|██▌       | 26/100 [00:13<00:38,  1.92it/s]
 27%|██▋       | 27/100 [00:14<00:37,  1.93it/s]
 28%|██▊       | 28/100 [00:14<00:37,  1.93it/s]
 29%|██▉       | 29/100 [00:15<00:36,  1.93it/s]
 30%|███       | 30/100 [00:15<00:36,  1.93it/s]
 31%|███       | 31/100 [00:16<00:35,  1.93it/s]
 32%|███▏      | 32/100 [00:16<00:35,  1.93it/s]
 33%|███▎      | 33/100 [00:17<00:34,  1.93it/s]
 34%|███▍      | 34/100 [00:17<00:34,  1.93it/s]
 35%|███▌      | 35/100 [00:18<00:33,  1.93it/s]
 36%|███▌      | 36/100 [00:18<00:33,  1.92it/s]
 37%|███▋      | 37/100 [00:19<00:32,  1.92it/s]
 38%|███▊      | 38/100 [00:19<00:32,  1.92it/s]
 39%|███▉      | 39/100 [00:20<00:31,  1.92it/s]
 40%|████      | 40/100 [00:20<00:31,  1.92it/s]
 41%|████      | 41/100 [00:21<00:30,  1.93it/s]
 42%|████▏     | 42/100 [00:21<00:30,  1.93it/s]
 43%|████▎     | 43/100 [00:22<00:29,  1.93it/s]
 44%|████▍     | 44/100 [00:22<00:29,  1.93it/s]
 45%|████▌     | 45/100 [00:23<00:28,  1.93it/s]
 46%|████▌     | 46/100 [00:23<00:28,  1.93it/s]
 47%|████▋     | 47/100 [00:24<00:27,  1.93it/s]
 48%|████▊     | 48/100 [00:24<00:27,  1.92it/s]
 49%|████▉     | 49/100 [00:25<00:26,  1.92it/s]
 50%|█████     | 50/100 [00:25<00:25,  1.92it/s]
 51%|█████     | 51/100 [00:26<00:25,  1.92it/s]
 52%|█████▏    | 52/100 [00:27<00:24,  1.92it/s]
 53%|█████▎    | 53/100 [00:27<00:24,  1.92it/s]
 54%|█████▍    | 54/100 [00:28<00:23,  1.92it/s]
 55%|█████▌    | 55/100 [00:28<00:23,  1.92it/s]
 56%|█████▌    | 56/100 [00:29<00:22,  1.92it/s]
 57%|█████▋    | 57/100 [00:29<00:22,  1.92it/s]
 58%|█████▊    | 58/100 [00:30<00:21,  1.92it/s]
 59%|█████▉    | 59/100 [00:30<00:21,  1.92it/s]
 60%|██████    | 60/100 [00:31<00:20,  1.92it/s]
 61%|██████    | 61/100 [00:31<00:20,  1.92it/s]
 62%|██████▏   | 62/100 [00:32<00:19,  1.92it/s]
 63%|██████▎   | 63/100 [00:32<00:19,  1.92it/s]
 64%|██████▍   | 64/100 [00:33<00:18,  1.92it/s]
 65%|██████▌   | 65/100 [00:33<00:18,  1.92it/s]
 66%|██████▌   | 66/100 [00:34<00:17,  1.92it/s]
 67%|██████▋   | 67/100 [00:34<00:17,  1.92it/s]
 68%|██████▊   | 68/100 [00:35<00:16,  1.91it/s]
 69%|██████▉   | 69/100 [00:35<00:16,  1.91it/s]
 70%|███████   | 70/100 [00:36<00:15,  1.92it/s]
 71%|███████   | 71/100 [00:36<00:15,  1.92it/s]
 72%|███████▏  | 72/100 [00:37<00:14,  1.92it/s]
 73%|███████▎  | 73/100 [00:37<00:14,  1.92it/s]
 74%|███████▍  | 74/100 [00:38<00:13,  1.92it/s]
 75%|███████▌  | 75/100 [00:39<00:13,  1.92it/s]
 76%|███████▌  | 76/100 [00:39<00:12,  1.92it/s]
 77%|███████▋  | 77/100 [00:40<00:11,  1.92it/s]
 78%|███████▊  | 78/100 [00:40<00:11,  1.92it/s]
 79%|███████▉  | 79/100 [00:41<00:10,  1.92it/s]
 80%|████████  | 80/100 [00:41<00:10,  1.92it/s]
 81%|████████  | 81/100 [00:42<00:09,  1.92it/s]
 82%|████████▏ | 82/100 [00:42<00:09,  1.92it/s]
 83%|████████▎ | 83/100 [00:43<00:08,  1.92it/s]
 84%|████████▍ | 84/100 [00:43<00:08,  1.92it/s]
 85%|████████▌ | 85/100 [00:44<00:07,  1.92it/s]
 86%|████████▌ | 86/100 [00:44<00:07,  1.92it/s]
 87%|████████▋ | 87/100 [00:45<00:06,  1.92it/s]
 88%|████████▊ | 88/100 [00:45<00:06,  1.92it/s]
 89%|████████▉ | 89/100 [00:46<00:05,  1.92it/s]
 90%|█████████ | 90/100 [00:46<00:05,  1.92it/s]
 91%|█████████ | 91/100 [00:47<00:04,  1.93it/s]
 92%|█████████▏| 92/100 [00:47<00:04,  1.93it/s]
 93%|█████████▎| 93/100 [00:48<00:03,  1.93it/s]
 94%|█████████▍| 94/100 [00:48<00:03,  1.93it/s]
 95%|█████████▌| 95/100 [00:49<00:02,  1.93it/s]
 96%|█████████▌| 96/100 [00:49<00:02,  1.93it/s]
 97%|█████████▋| 97/100 [00:50<00:01,  1.93it/s]
 98%|█████████▊| 98/100 [00:50<00:01,  1.93it/s]
 99%|█████████▉| 99/100 [00:51<00:00,  1.93it/s]
100%|██████████| 100/100 [00:51<00:00,  1.93it/s]/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.