In [1]:
import pandas as pd

df = pd.read_csv('Boliga - Behandling_3.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df

,agentDisplayName,agentRegId,area,basementSize,buildYear,city,createdDate,daysForSale,domainId,energyClass,...,Befolkning,Ledige,Relativ Ledighed,Grundskole,Gymnasiale uddannelser,Erhvervsfaglige uddannelser,KVU,MVU,Bacheloruddannelser,LVU
0,NaN,24254,1,0,1767,København K,2019-05-22T00:35:07.000Z,93,944,-,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
1,NaN,207,1,88,1880,København K,2019-06-14T03:27:01.490Z,70,7,C,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
2,NaN,117,1,0,1755,København K,2019-04-24T00:09:51.880Z,121,171,C,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
3,NaN,17151,1,0,1880,København K,2019-05-08T00:04:30.737Z,107,91,C,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
4,NaN,17489,1,0,1873,København K,2019-07-12T03:21:26.060Z,42,9,C,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
5,NaN,25207,1,0,1873,København K,2019-08-14T00:02:15.130Z,9,419,C,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
6,NaN,502,1,0,1870,København K,2019-08-09T03:06:43.653Z,14,9,D,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
7,NaN,22489,1,0,1872,København K,2019-06-12T00:03:09.230Z,72,811,D,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
8,NaN,24749,1,0,1900,København K,2019-07-08T00:35:06.767Z,46,1030,d,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
9,NaN,25402,1,0,1796,København K,2019-03-22T03:03:55.040Z,154,691,-,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
10,NaN,25402,1,0,1796,København K,2019-06-27T03:37:18.940Z,57,691,-,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
11,NaN,610,1,0,1797,København K,2019-06-20T03:37:30.653Z,64,3,E,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
12,NaN,610,1,0,1797,København K,2019-08-13T03:20:33.657Z,10,3,E,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
13,NaN,25402,1,0,1797,København K,2019-06-06T03:51:44.797Z,78,691,E,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
14,NaN,25402,1,0,1797,København K,2019-08-01T03:47:17.660Z,22,691,E,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
15,NaN,610,1,0,1799,København K,2018-12-20T03:34:50.233Z,246,3,-,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
16,NaN,17151,1,0,1817,København K,2019-06-10T00:07:02.240Z,74,91,-,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
17,NaN,17151,1,0,1690,København K,2019-06-27T00:03:19.970Z,57,91,C,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
18,NaN,7,1,0,1741,København K,2019-04-17T00:07:49.497Z,128,42,-,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
19,NaN,17463,1,0,1848,København K,2019-07-03T00:35:21.063Z,51,616,f,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
20,NaN,207,1,0,1991,København K,2019-04-30T03:17:43.653Z,115,7,C,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
21,NaN,17151,1,0,1810,København K,2018-06-04T10:40:59.967Z,445,91,D,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
22,NaN,117,1,0,1902,København K,2019-02-12T00:09:29.430Z,192,171,D,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
23,NaN,610,1,0,1902,København K,2019-05-01T03:21:21.177Z,114,3,D,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
24,NaN,207,1,0,1747,København K,2019-05-28T03:25:29.740Z,87,7,C,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
25,NaN,24756,1,0,1734,København K,2019-05-17T00:03:21.550Z,98,817,-,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
26,Paulun København City,25793,1,0,1883,København K,2019-08-15T00:03:49.313Z,8,1091,D,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
27,NaN,25402,1,0,1848,København K,2019-04-10T03:42:26.443Z,135,691,G,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
28,Paulun København City,25793,1,0,1883,København K,2019-08-15T00:03:49.090Z,8,1091,D,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
29,NaN,610,1,0,1877,København K,2019-07-05T03:19:21.283Z,49,3,C,...,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65529,NaN,454,11,68,1913,Skagen,2019-07-24T03:47:55.407Z,30,7,E,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280
65530,NaN,454,11,0,1900,Skagen,2016-05-27T05:20:48.943Z,1183,7,-,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280
65531,NaN,17142,11,0,2011,Skagen,2019-04-06T00:35:15.123Z,139,48,b,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280
65532,NaN,17142,11,0,1927,Skagen,2019-06-21T00:35:03.677Z,63,48,d,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280
65533,NaN,17142,11,0,2007,Skagen,2019-04-08T00:35:08.410Z,137,48,b,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280
65534,NaN,17142,11,0,1959,Skagen,2019-08-15T00:35:08.547Z,8,48,d,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280
65535,NaN,454,11,0,1960,Skagen,2018-10-25T04:01:19.387Z,302,7,-,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280
65536,NaN,454,11,0,2017,Skagen,2019-03-26T03:13:05.213Z,150,7,K,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280
65537,NaN,17142,11,0,1983,Skagen,2019-04-08T00:35:07.407Z,137,48,-,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280
65538,NaN,454,11,131,1950,Skagen,2017-12-31T03:18:25.530Z,600,7,D,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280
65539,NaN,17142,11,0,2007,Skagen,2018-04-28T00:35:18.860Z,482,48,c,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280
65540,NaN,454,11,25,1986,Skagen,2017-05-10T03:26:38.463Z,835,7,-,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280
65541,NaN,17142,11,0,1911,Skagen,2019-01-05T00:35:05.453Z,230,48,g,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280
65542,NaN,454,11,74,1999,Skagen,2019-02-09T03:58:02.777Z,195,7,C,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280
65543,NaN,17142,11,0,1990,Skagen,2019-04-09T00:35:14.193Z,136,48,-,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280
65544,NaN,17142,11,0,2017,Skagen,2018-08-08T00:35:19.100Z,380,48,-,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280
65545,NaN,454,11,0,2018,Skagen,2019-04-14T03:39:30.010Z,131,7,-,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280
65546,NaN,454,11,0,1967,Skagen,2019-07-13T03:26:09.107Z,41,7,-,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280
65547,NaN,17142,11,0,1918,Skagen,2018-03-22T00:35:09.290Z,519,48,e,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280
65548,NaN,17142,11,0,2011,Skagen,2017-10-28T00:35:09.803Z,664,48,-,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280
65549,NaN,454,11,0,1902,Skagen,2019-07-17T03:28:17.267Z,37,7,C,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280
65550,NaN,454,11,0,2001,Skagen,2018-09-05T04:10:33.743Z,352,7,C,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280
65551,NaN,17142,11,0,2015,Skagen,2017-11-25T00:35:11.783Z,636,48,b,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280
65552,NaN,454,11,107,1973,Skagen,2018-05-03T03:28:52.050Z,477,7,E,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280
65553,NaN,454,11,6,1920,Skagen,2019-06-14T03:27:24.960Z,70,7,-,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280
65554,NaN,454,11,17,1993,Skagen,2019-08-13T03:21:09.000Z,10,7,D,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280
65555,NaN,454,11,140,1922,Skagen,2018-07-28T03:48:49.173Z,391,7,C,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280
65556,NaN,454,11,0,1971,Skagen,2019-06-05T03:52:20.880Z,79,7,C,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280
65557,NaN,17142,11,0,1988,Skagen,2019-03-09T00:35:06.353Z,167,48,-,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280
65558,NaN,17142,11,0,1947,Skagen,2019-07-02T00:35:14.253Z,52,48,d,...,59906,1792,7.986808,23.812737,3.209948,47.352355,5.398111,14.822312,0.607287,3.486280