In [1]:
import pandas as pd
df = pd.read_csv('howlongdf.csv')
df2 = pd.read_csv('Boliga - Behandling 4 - Med etnosociodata.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
pd.options.display.max_columns = 100

In [6]:
df = df[['id','hvorlangt_total']].copy()

In [7]:
df.head()

        id                                    hvorlangt_total
0  1559151  {'lake': 1132.04, 'forest': 7227.33, 'doctor':...
1  1567291  {'lake': 1204.41, 'forest': 7301.06, 'doctor':...
2  1549766  {'lake': 1188.99, 'forest': 7361.08, 'doctor':...
3  1554276  {'lake': 1204.41, 'forest': 7301.06, 'doctor':...
4  1576691  {'lake': 1252.92, 'forest': 7231.67, 'doctor':...

In [8]:
df.shape

(65559, 2)

In [9]:
df = df.drop_duplicates()

In [10]:
df.shape

(65558, 2)

In [11]:
df2 = df2.drop_duplicates()

In [12]:
df2.shape

(65558, 83)

In [13]:
finaldf = df2.merge(df, how='left', left_on = df2['id'], right_on = df['id'], validate= 'm:1')

In [14]:
df2['id'].unique()

array([1559151, 1567291, 1549766, ..., 1564194, 1531104, 1573049])

In [15]:
finaldf.shape

(65558, 86)

In [16]:
finaldf = finaldf.drop(columns=['id_y']).copy()

In [17]:
finaldf.head()

,key_0,basementSize,buildYear,city,createdDate,daysForSale,Ejerudgift,floor,id_x,isForeclosure,latitude,longitude,lotSize,municipality,price,rooms,size,squaremeterPrice,street,zipCode,coordinate,Kommune,Region,Type,Befolkning,Relativ Ledighed,Grundskole,Gymnasiale uddannelser,Erhvervsfaglige uddannelser,KVU,MVU,Bacheloruddannelser,LVU,Kommunal_gennemsnitsinkomst_2017,danish_origin,immigrants_Western,immigrants_Non_Western,descendants_Western,descendants_Non_Western,Murder&Arson_reported,Murder&Arson_charged,Breaking&entering_reported,Breaking&entering_charged,Narcotics_reported,Narcotics_charged,Robbery_reported,Robbery_charged,Indecency_reported,Indecency_charged,Theft_reported,Theft_charged,Assault_reported,Assault_charged,Total_reported,Total_charged,Population_density(pop/km2),Population_in_urban_development,Socioeconomic_index,expenditure_per_capita,Service_expenses_per_capita,church_tax,land_tax(â€°),land_value_per_capita,taxable_income_per_capita,expenses_development,expenses_transport&infrastructure,expenses_public_school_per_capita,expenses_daycare_per_capita,long_term_debt_per_capita,liquid_assets_per_capita,expenses_daycare_per_0-13yo(brutto),expenses_daycare_per_0-13yo(netto),monthly_price_daycare(3-5yo),education_expenses(6-16yo),expenses_per_school_student,number_of_public_schools,number_of_ordinary_classes,average_class_size,library_expenses_per_capita,expenses_sport_and_other_cultural_activities,expenses_elder(+67yo),sickness_benefits_per_17-64yo,expenses_for_assistance(17-64yo),expenses_for_reschooling(17-64yo),hvorlangt_total
0,1559151,0,1767,KÃ¸benhavn K,2019-05-22T00:35:07.000Z,93,16872,3.0,1559151,False,55.67996,12.58478,0,101,18750000,6.0,280,66964.0,"Kongens Nytorv 21, 3. tv",1050,"55.679959999999994, 12.58478",KÃ¸benhavn,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493,"{'lake': 1132.04, 'forest': 7227.33, 'doctor':..."
1,1567291,88,1880,KÃ¸benhavn K,2019-06-14T03:27:01.490Z,70,5702,0.0,1567291,False,55.67926,12.59149,0,101,10500000,4.0,83,126506.0,"Nyhavn 38, st. DÃ¸r/lejl. 4",1051,"55.67926, 12.59149",KÃ¸benhavn,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493,"{'lake': 1204.41, 'forest': 7301.06, 'doctor':..."
2,1549766,0,1755,KÃ¸benhavn K,2019-04-24T00:09:51.880Z,121,9486,1.0,1549766,False,55.67981,12.59206,0,101,15000000,7.0,274,54744.0,"Nyhavn 53, 1.",1051,"55.679809999999996, 12.59206",KÃ¸benhavn,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493,"{'lake': 1188.99, 'forest': 7361.08, 'doctor':..."
3,1554276,0,1880,KÃ¸benhavn K,2019-05-08T00:04:30.737Z,107,17609,5.0,1554276,False,55.67926,12.59149,0,101,19995000,7.0,296,67550.0,"Nyhavn 38, 5. tv.",1051,"55.67926, 12.59149",KÃ¸benhavn,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493,"{'lake': 1204.41, 'forest': 7301.06, 'doctor':..."
4,1576691,0,1873,KÃ¸benhavn K,2019-07-12T03:21:26.060Z,42,5590,3.0,1576691,False,55.67852,12.59114,0,101,8750000,7.0,163,53680.0,"Herluf Trolles Gade 22, 3. th",1052,"55.67851999999999, 12.59114",KÃ¸benhavn,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493,"{'lake': 1252.92, 'forest': 7231.67, 'doctor':..."

In [18]:
from ast import literal_eval

poitypes = ["lake", "forest", "doctor", "supermarket", "school", "daycare", "hospital", "metro",
            "train", "stop", "strain", "junction", "pharmacy", "library", "coast", "airport"]
def get_lakekey(key_column):
    key_column = literal_eval(key_column)
    return key_column['lake']
def get_forestkey(key_column):
    key_column = literal_eval(key_column)
    return key_column['forest']
def get_doctorkey(key_column):
    key_column = literal_eval(key_column)
    return key_column['doctor']
def get_supermarketkey(key_column):
    key_column = literal_eval(key_column)
    return key_column['supermarket']
def get_schoolkey(key_column):
    key_column = literal_eval(key_column)
    return key_column['school']
def get_daycarekey(key_column):
    key_column = literal_eval(key_column)
    return key_column['daycare']
def get_hospitalkey(key_column):
    key_column = literal_eval(key_column)
    return key_column['hospital']
def get_metrokey(key_column):
    key_column = literal_eval(key_column)
    return key_column['metro']
def get_trainkey(key_column):
    key_column = literal_eval(key_column)
    return key_column['train']
def get_stopkey(key_column):
    key_column = literal_eval(key_column)
    return key_column['stop']
def get_strainkey(key_column):
    key_column = literal_eval(key_column)
    return key_column['strain']
def get_junctionkey(key_column):
    key_column = literal_eval(key_column)
    return key_column['junction']
def get_pharmacykey(key_column):
    key_column = literal_eval(key_column)
    return key_column['pharmacy']
def get_librarykey(key_column):
    key_column = literal_eval(key_column)
    return key_column['library']
def get_coastkey(key_column):
    key_column = literal_eval(key_column)
    return key_column['coast']
def get_airportkey(key_column):
    key_column = literal_eval(key_column)
    return key_column['airport']

In [19]:
finaldf['lake_distance'] = finaldf['hvorlangt_total'].apply(get_lakekey)

In [20]:
poitypes = ["lake", "forest", "doctor", "supermarket", "school", "daycare", "hospital", "metro",
            "train", "stop", "strain", "junction", "pharmacy", "library", "coast", "airport"]
finaldf['forest_distance'] = finaldf['hvorlangt_total'].apply(get_forestkey)
finaldf['doctor_distance'] = finaldf['hvorlangt_total'].apply(get_doctorkey)
finaldf['supermarket_distance'] = finaldf['hvorlangt_total'].apply(get_supermarketkey)
finaldf['school_distance'] = finaldf['hvorlangt_total'].apply(get_schoolkey)

In [21]:
finaldf['daycare_distance'] = finaldf['hvorlangt_total'].apply(get_daycarekey)
finaldf['hospital_distance'] = finaldf['hvorlangt_total'].apply(get_hospitalkey)
finaldf['metro_distance'] = finaldf['hvorlangt_total'].apply(get_metrokey)
finaldf['train_distance'] = finaldf['hvorlangt_total'].apply(get_trainkey)

In [22]:
finaldf['pharmacy_distance'] = finaldf['hvorlangt_total'].apply(get_pharmacykey)
finaldf['library_distance'] = finaldf['hvorlangt_total'].apply(get_librarykey)
finaldf['coast_distance'] = finaldf['hvorlangt_total'].apply(get_coastkey)
finaldf['airport_distance'] = finaldf['hvorlangt_total'].apply(get_airportkey)

In [23]:
#finaldf['stop_distance'] = finaldf['hvorlangt_total'].apply(get_stopkey)
finaldf['strain_distance'] = finaldf['hvorlangt_total'].apply(get_strainkey)
finaldf['junction_distance'] = finaldf['hvorlangt_total'].apply(get_junctionkey)

In [24]:
finaldf.head()

,key_0,basementSize,buildYear,city,createdDate,daysForSale,Ejerudgift,floor,id_x,isForeclosure,latitude,longitude,lotSize,municipality,price,rooms,size,squaremeterPrice,street,zipCode,coordinate,Kommune,Region,Type,Befolkning,Relativ Ledighed,Grundskole,Gymnasiale uddannelser,Erhvervsfaglige uddannelser,KVU,MVU,Bacheloruddannelser,LVU,Kommunal_gennemsnitsinkomst_2017,danish_origin,immigrants_Western,immigrants_Non_Western,descendants_Western,descendants_Non_Western,Murder&Arson_reported,Murder&Arson_charged,Breaking&entering_reported,Breaking&entering_charged,Narcotics_reported,Narcotics_charged,Robbery_reported,Robbery_charged,Indecency_reported,Indecency_charged,Theft_reported,Theft_charged,Assault_reported,Assault_charged,Total_reported,Total_charged,Population_density(pop/km2),Population_in_urban_development,Socioeconomic_index,expenditure_per_capita,Service_expenses_per_capita,church_tax,land_tax(â€°),land_value_per_capita,taxable_income_per_capita,expenses_development,expenses_transport&infrastructure,expenses_public_school_per_capita,expenses_daycare_per_capita,long_term_debt_per_capita,liquid_assets_per_capita,expenses_daycare_per_0-13yo(brutto),expenses_daycare_per_0-13yo(netto),monthly_price_daycare(3-5yo),education_expenses(6-16yo),expenses_per_school_student,number_of_public_schools,number_of_ordinary_classes,average_class_size,library_expenses_per_capita,expenses_sport_and_other_cultural_activities,expenses_elder(+67yo),sickness_benefits_per_17-64yo,expenses_for_assistance(17-64yo),expenses_for_reschooling(17-64yo),hvorlangt_total,lake_distance,forest_distance,doctor_distance,supermarket_distance,school_distance,daycare_distance,hospital_distance,metro_distance,train_distance,pharmacy_distance,library_distance,coast_distance,airport_distance,strain_distance,junction_distance
0,1559151,0,1767,KÃ¸benhavn K,2019-05-22T00:35:07.000Z,93,16872,3.0,1559151,False,55.67996,12.58478,0,101,18750000,6.0,280,66964.0,"Kongens Nytorv 21, 3. tv",1050,"55.679959999999994, 12.58478",KÃ¸benhavn,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493,"{'lake': 1132.04, 'forest': 7227.33, 'doctor':...",1132.04,7227.33,111.11,240.96,350.05,394.28,2673.32,106.28,1056.50,386.65,927.71,413.79,8078.37,1056.50,4656.46
1,1567291,88,1880,KÃ¸benhavn K,2019-06-14T03:27:01.490Z,70,5702,0.0,1567291,False,55.67926,12.59149,0,101,10500000,4.0,83,126506.0,"Nyhavn 38, st. DÃ¸r/lejl. 4",1051,"55.67926, 12.59149",KÃ¸benhavn,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493,"{'lake': 1204.41, 'forest': 7301.06, 'doctor':...",1204.41,7301.06,298.60,598.52,426.07,431.39,2957.15,561.92,1411.22,701.59,1237.05,35.08,7806.09,1411.22,4943.59
2,1549766,0,1755,KÃ¸benhavn K,2019-04-24T00:09:51.880Z,121,9486,1.0,1549766,False,55.67981,12.59206,0,101,15000000,7.0,274,54744.0,"Nyhavn 53, 1.",1051,"55.679809999999996, 12.59206",KÃ¸benhavn,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493,"{'lake': 1188.99, 'forest': 7361.08, 'doctor':...",1188.99,7361.08,268.52,711.05,486.10,401.31,2927.07,611.54,1381.15,671.41,1297.08,70.32,8251.22,1381.15,4913.51
3,1554276,0,1880,KÃ¸benhavn K,2019-05-08T00:04:30.737Z,107,17609,5.0,1554276,False,55.67926,12.59149,0,101,19995000,7.0,296,67550.0,"Nyhavn 38, 5. tv.",1051,"55.67926, 12.59149",KÃ¸benhavn,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493,"{'lake': 1204.41, 'forest': 7301.06, 'doctor':...",1204.41,7301.06,298.60,598.52,426.07,431.39,2957.15,561.92,1411.22,701.59,1237.05,35.08,7806.09,1411.22,4943.59
4,1576691,0,1873,KÃ¸benhavn K,2019-07-12T03:21:26.060Z,42,5590,3.0,1576691,False,55.67852,12.59114,0,101,8750000,7.0,163,53680.0,"Herluf Trolles Gade 22, 3. th",1052,"55.67851999999999, 12.59114",KÃ¸benhavn,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493,"{'lake': 1252.92, 'forest': 7231.67, 'doctor':...",1252.92,7231.67,395.71,646.93,360.48,528.40,3054.26,560.63,1508.33,798.60,1167.66,123.53,8121.70,1508.33,5040.60

In [25]:
finaldf.shape

(65558, 100)

In [26]:
finaldf = finaldf.drop(columns=['hvorlangt_total']).copy()

In [27]:
for i in finaldf.isna().sum():
    print(i)

0
0
0
3
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [28]:
finaldf.to_csv('Final_Boligdata.csv')