In [39]:
import requests 
import json
import time 
import tqdm
import pandas as pd

df = pd.read_csv('Boliga Scraped.csv')
pd.options.display.max_columns = 100
pd.options.display.max_rows = 500
df.sort_values(by = ['municipality'], axis = 0 )

       Unnamed: 0  Unnamed: 0.1                            agentDisplayName  \
36936       36936            36                                         NaN
15884       15884            34                  Holbæk - Henrik Larsen A/S
15877       15877            27                  Holbæk - Henrik Larsen A/S
15874       15874            24                  Holbæk - Henrik Larsen A/S
15811       15811            11                  Holbæk - Henrik Larsen A/S
15807       15807             7                  Holbæk - Henrik Larsen A/S
15797       15797            47                  Holbæk - Henrik Larsen A/S
15578       15578            28                  Holbæk - Henrik Larsen A/S
15168       15168            18                                         NaN
13842       13842            42                                         NaN
13472       13472            22                                        Køge
13456       13456             6                                        Køge
13455       13455             5                                        Køge
13454       13454             4                                        Køge
13453       13453             3                                        Køge
13441       13441            41                                        Køge
13440       13440            40                                        Køge
13439       13439            39                                        Køge
13438       13438            38                                        Køge
13437       13437            37                                        Køge
13435       13435            35                                        Køge
12936       12936            36                  Holbæk - Henrik Larsen A/S
11791       11791            41                                         NaN
11591       11591            41                                         NaN
11587       11587            37                                         NaN
11585       11585            35                                         NaN
15890       15890            40                  Holbæk - Henrik Larsen A/S
11582       11582            32                                         NaN
16078       16078            28                                         NaN
17454       17454             4                                         NaN
60767       60767            17                                         NaN
60768       60768            18                                         NaN
60769       60769            19                                         NaN
60770       60770            20                                         NaN
60777       60777            27                                         NaN
60778       60778            28                                         NaN
60852       60852             2                                         NaN
60856       60856             6                                         NaN
60857       60857             7                                         NaN
60858       60858             8                                         NaN
61034       61034            34                                         NaN
65107       65107             7                                         NaN
65597       65597            47                                         NaN
28691       28691            41                                         NaN
27609       27609             9                                       Ringe
25678       25678            28                                         NaN
23508       23508             8                                         NaN
23507       23507             7                                         NaN
23506       23506             6                                         NaN
23496       23496            46                                         NaN
18874       18874            24                                         NaN
18871       18871            21                                         NaN
36939       36939            39                                         NaN
17456       17456             6                                         NaN
17455       17455             5                                         NaN
17453       17453             3                                         NaN
60765       60765            15                                         NaN
11540       11540            40                                         NaN
10798       10798            48                                         NaN
4916         4916            16                                         NaN
4857         4857             7                                         NaN
4488         4488            38                                         NaN
4487         4487            37                                         NaN
4486         4486            36                                         NaN
4484         4484            34                                         NaN
4483         4483            33                                         NaN
4482         4482            32                                         NaN
4479         4479            29                                         NaN
4478         4478            28                                         NaN
4477         4477            27                                         NaN
4476         4476            26                                         NaN
4475         4475            25                                         NaN
4474         4474            24                                         NaN
4471         4471            21                                         NaN
4470         4470            20                                         NaN
4467         4467            17                                         NaN
4466         4466            16                                         NaN
4453         4453             3                                         NaN
4452         4452             2                                         NaN
4451         4451             1                                         NaN
2284         2284            34                                         NaN
1428         1428            28                                         NaN
1380         1380            30                                         NaN
1371         1371            21                                         NaN
5397         5397            47                                         NaN
10837       10837            37                                         NaN
5398         5398            48                                         NaN
5401         5401             1                                         NaN
10771       10771            21                                         NaN
6608         6608             8                                         NaN
6555         6555             5     Ejendomsmægler Peter Schmidt - Danbolig
6365         6365            15     Ejendomsmægler Peter Schmidt - Danbolig
6364         6364            14     Ejendomsmægler Peter Schmidt - Danbolig
6363         6363            13     Ejendomsmægler Peter Schmidt - Danbolig
5423         5423            23                                         NaN
5422         5422            22                                         NaN
5421         5421            21                                         NaN
5420         5420            20                                         NaN
5419         5419            19                                         NaN
5418         5418            18                                         NaN
5416         5416            16                                         NaN
5415         5415            15                                         NaN
5414         5414            14                                         NaN
5411         5411            11                                         NaN
5410         5410            10                                         NaN
5409         5409             9                                         NaN
5408         5408             8                                         NaN
5407         5407             7                                         NaN
5406         5406             6                                         NaN
5405         5405             5                                         NaN
5404         5404             4                                         NaN
5403         5403             3                                         NaN
5402         5402             2                                         NaN
5399         5399            49                                         NaN
60764       60764            14                                         NaN
4472         4472            22                                         NaN
60762       60762            12                                         NaN
50824       50824            24                                         NaN
29936       29936            36                                         NaN
29926       29926            26                                         NaN
29925       29925            25                                         NaN
29924       29924            24                                         NaN
29923       29923            23                                         NaN
29922       29922            22                                         NaN
29919       29919            19                                         NaN
29918       29918            18                                         NaN
29917       29917            17                                         NaN
43243       43243            43                                         NaN
29915       29915            15                                         NaN
29683       29683            33                                         NaN
29682       29682            32                                         NaN
29681       29681            31                                         NaN
29680       29680            30                                         NaN
29679       29679            29                                         NaN
29678       29678            28                                         NaN
29677       29677            27                                         NaN
29676       29676            26                                         NaN
29675       29675            25                                         NaN
44187       44187            37                                         NaN
33620       33620            20                                         NaN
29674       29674            24                                         NaN
29673       29673            23                                         NaN
50772       50772            22                                         NaN
29672       29672            22                                         NaN
50758       50758             8                                         NaN
45309       45309             9                                         NaN
41760       41760            10                                         NaN
40095       40095            45                                         NaN
30774       30774            24                                         NaN
44158       44158             8                                         NaN
30784       30784            34                                         NaN
30786       30786            36                                         NaN
30801       30801             1                                         NaN
30858       30858             8                                         NaN
32529       32529            29                                         NaN
33323       33323            23                                         NaN
33325       33325            25                                         NaN
44159       44159             9                                         NaN
36943       36943            43                                         NaN
44160       44160            10                                         NaN
44164       44164            14                                         NaN
44167       44167            17                                         NaN
44177       44177            27                                         NaN
44179       44179            29                                         NaN
36955       36955             5                                         NaN
44182       44182            32                                         NaN
60763       60763            13                                         NaN
37933       37933            33                                         NaN
44189       44189            39                                         NaN
44190       44190            40                                         NaN
45134       45134            34                                         NaN
50722       50722            22                                         NaN
29671       29671            21                                         NaN
29916       29916            16                                         NaN
29669       29669            19                                         NaN
29670       29670            20                                         NaN
57421       57421            21                                         NaN
57420       57420            20                                         NaN
57419       57419            19                                         NaN
57029       57029            29                                         NaN
56998       56998            48                                         NaN
56995       56995            45                                         NaN
54934       54934            34                                         NaN
57422       57422            22                                         NaN
54574       54574            24                                         NaN
53294       53294            44                                         NaN
29185       29185            35                                         NaN
29203       29203             3                                         NaN
29396       29396            46                                         NaN
29400       29400             0                                         NaN
29401       29401             1                                         NaN
29407       29407             7                                         NaN
29408       29408             8                                         NaN
53631       53631            31                                         NaN
52826       52826            26                                         NaN
57423       57423            23                                         NaN
57425       57425            25                                         NaN
60761       60761            11                                         NaN
60757       60757             7                                         NaN
60756       60756             6                                         NaN
60749       60749            49                                         NaN
60748       60748            48                                         NaN
60747       60747            47                                         NaN
60746       60746            46                                         NaN
60744       60744            44                                         NaN
57424       57424            24                                         NaN
60743       60743            43                                         NaN
60741       60741            41                                         NaN
60740       60740            40                                         NaN
60733       60733            33                                         NaN
60728       60728            28                                         NaN
59401       59401             1                                         NaN
57674       57674            24                                         NaN
57427       57427            27                                         NaN
57426       57426            26                                         NaN
60742       60742            42                                         NaN
52820       52820            20                                         NaN
44154       44154             4                                         NaN
29415       29415            15                                         NaN
29416       29416            16                                         NaN
29422       29422            22                                         NaN
29668       29668            18                                         NaN
29667       29667            17                                         NaN
29423       29423            23                                         NaN
29441       29441            41                                         NaN
29442       29442            42                                         NaN
29444       29444            44                                         NaN
29445       29445            45                                         NaN
29489       29489            39                                         NaN
29446       29446            46                                         NaN
29414       29414            14                                         NaN
2419         2419            19                               Paulun Amager
2418         2418            18                               Paulun Amager
2417         2417            17                                         NaN
2415         2415            15                                         NaN
2481         2481            31                                         NaN
2420         2420            20                                         NaN
2416         2416            16                                         NaN
2421         2421            21                                         NaN
2427         2427            27                                         NaN
2423         2423            23                               Paulun Amager
2424         2424            24                                         NaN
2425         2425            25                                         NaN
2426         2426            26                                         NaN
2414         2414            14                                         NaN
2428         2428            28                                         NaN
2429         2429            29                                         NaN
2430         2430            30                                         NaN
2431         2431            31                                         NaN
2422         2422            22                                         NaN
...           ...           ...                                         ...
64354       64354             4                                         NaN
64355       64355             5                                         NaN
64356       64356             6                                         NaN
64375       64375            25                                         NaN
64376       64376            26                                         NaN
64377       64377            27                                         NaN
64378       64378            28                                         NaN
64379       64379            29                           danbolig Hjørring
64380       64380            30                           danbolig Hjørring
64374       64374            24                           danbolig Hjørring
64381       64381            31  Ejendomsmægler Thorkild Kristensen Blokhus

In [55]:
#Oprydning
df.drop(df.loc[df['municipality']==0].index, inplace = True)
df.drop(df.loc[df['price']<=100].index, inplace = True)
df.drop(df.loc[df['latitude']==0].index, inplace = True)
df.drop(df.loc[df['longitude']==0].index, inplace = True)

#Unique municipality df
kommune = df['municipality'].unique()
df_kom = pd.DataFrame(kommune, columns = ['Kommunenr'])

In [61]:
import scraping_class
logfile = 'Boligscrape_log.csv'
connector = scraping_class.Connector(logfile)

import time
def kommune_func(kommune_kode):
    url = lambda q: 'https://dawa.aws.dk/kommuner/{}'.format(q)
    resp, call_id = connector.get(url(kommune_kode), 'Kommunedata')
    time.sleep(0.5)
    
    if not resp.status_code == 200:
        return ''
    resp = resp.json()
    kommune = resp['navn']
    
    return kommune

In [69]:
import scraping_class
logfile = 'Boligscrape_log.csv'
connector = scraping_class.Connector(logfile)

import time
def region_func(kommune_kode):
    url = lambda q: 'https://dawa.aws.dk/kommuner/{}'.format(q)
    resp, call_id = connector.get(url(kommune_kode), 'Kommunedata')
    time.sleep(0.5)
    
    if not resp.status_code == 200:
        return ''
    resp = resp.json()
    region = resp['region']['navn']
    
    return region

In [63]:
df_kom['Kommune'] = df_kom.Kommunenr.apply(kommune_func)

In [70]:
df_kom['Region'] = df_kom.Kommunenr.apply(region_func)

In [72]:
df = df.merge(df_kom, how='left', left_on=['municipality'],
                           right_on=['Kommunenr'], validate = 'm:1')

In [83]:
df = df.drop(columns = ['Unnamed: 0'], axis = 1)
df = df.drop(columns = ['Unnamed: 0.1'], axis = 1)
df = df.drop(columns = ['Kommunenr'], axis = 1)

In [139]:
# Convert Prop_type (number) to descriptive labels
prop_type = {'Prop_Type': {'Villa': 1, 'Rækkehus': 2, 'Ejerlejlighed': 3,
            'Fritidshus': 4, 'Andelsbolig': 5, 'Landejendom': 6,
            'Helårsgrund': 7, 'Fritidsgrund': 8, 'Villalejlighed': 9}}

prop_type_df = pd.DataFrame(prop_type).reset_index()

df = df.merge(prop_type_df, how='left', left_on=['propertyType'],
                           right_on=['Prop_Type'], validate = 'm:1')

df = df.drop(columns = ['Prop_Type'], axis = 1)
df.rename(columns={'index':'Type'}, inplace=True)
#Drop missing in Type - those are tvangsaktioner
df = df[df.Type.isnull() != True]

In [23]:
df.to_csv('Boliga - Behanling1 - Kom, Reg, Type.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)