In [3]:
import pandas as pd
df = pd.read_csv('howlongdf.csv')
df2 = pd.read_csv('Boliga - Behandling 4 - Med etnosociodata.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df2

,basementSize,buildYear,city,createdDate,daysForSale,Ejerudgift,floor,id,isForeclosure,latitude,...,expenses_per_school_student,number_of_public_schools,number_of_ordinary_classes,average_class_size,library_expenses_per_capita,expenses_sport_and_other_cultural_activities,expenses_elder(+67yo),sickness_benefits_per_17-64yo,expenses_for_assistance(17-64yo),expenses_for_reschooling(17-64yo)
0,0,1767,København K,2019-05-22T00:35:07.000Z,93,16872,3.0,1559151,False,55.67996,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
1,88,1880,København K,2019-06-14T03:27:01.490Z,70,5702,0.0,1567291,False,55.67926,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
2,0,1755,København K,2019-04-24T00:09:51.880Z,121,9486,1.0,1549766,False,55.67981,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
3,0,1880,København K,2019-05-08T00:04:30.737Z,107,17609,5.0,1554276,False,55.67926,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
4,0,1873,København K,2019-07-12T03:21:26.060Z,42,5590,3.0,1576691,False,55.67852,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
5,0,1873,København K,2019-08-14T00:02:15.130Z,9,5739,5.0,1584826,False,55.67847,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
6,0,1870,København K,2019-08-09T03:06:43.653Z,14,4461,1.0,1583581,False,55.67702,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
7,0,1872,København K,2019-06-12T00:03:09.230Z,72,9790,1.0,1565985,False,55.67724,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
8,0,1900,København K,2019-07-08T00:35:06.767Z,46,5606,4.0,1575319,False,55.67709,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
9,0,1796,København K,2019-03-22T03:03:55.040Z,154,2771,4.0,1535743,False,55.67755,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
10,0,1796,København K,2019-06-27T03:37:18.940Z,57,4723,2.0,1571948,False,55.67755,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
11,0,1797,København K,2019-06-20T03:37:30.653Z,64,2999,1.0,1569281,False,55.67784,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
12,0,1797,København K,2019-08-13T03:20:33.657Z,10,3248,1.0,1584703,False,55.67801,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
13,0,1797,København K,2019-06-06T03:51:44.797Z,78,3479,2.0,1564406,False,55.67794,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
14,0,1797,København K,2019-08-01T03:47:17.660Z,22,4509,2.0,1581472,False,55.67781,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
15,0,1799,København K,2018-12-20T03:34:50.233Z,246,4081,2.0,1510447,False,55.67811,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
16,0,1817,København K,2019-06-10T00:07:02.240Z,74,5087,2.0,1565858,False,55.67820,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
17,0,1690,København K,2019-06-27T00:03:19.970Z,57,2549,3.0,1571657,False,55.68172,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
18,0,1741,København K,2019-04-17T00:07:49.497Z,128,6834,3.0,1547075,False,55.68136,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
19,0,1848,København K,2019-07-03T00:35:21.063Z,51,5665,1.0,1573503,False,55.68204,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
20,0,1991,København K,2019-04-30T03:17:43.653Z,115,3401,4.0,1551496,False,55.68158,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
21,0,1810,København K,2018-06-04T10:40:59.967Z,445,7064,3.0,1448667,False,55.68079,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
22,0,1902,København K,2019-02-12T00:09:29.430Z,192,15908,3.0,1522350,False,55.68034,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
23,0,1902,København K,2019-05-01T03:21:21.177Z,114,2745,4.0,1552148,False,55.68031,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
24,0,1747,København K,2019-05-28T03:25:29.740Z,87,6041,1.0,1561303,False,55.68083,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
25,0,1734,København K,2019-05-17T00:03:21.550Z,98,1575,1.0,1557792,False,55.68184,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
26,0,1883,København K,2019-08-15T00:03:49.313Z,8,3703,1.0,1585380,False,55.68346,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
27,0,1848,København K,2019-04-10T03:42:26.443Z,135,3218,2.0,1543494,False,55.68211,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
28,0,1883,København K,2019-08-15T00:03:49.090Z,8,4572,2.0,1585378,False,55.68346,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
29,0,1877,København K,2019-07-05T03:19:21.283Z,49,5569,4.0,1574638,False,55.68543,...,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65529,68,1913,Skagen,2019-07-24T03:47:55.407Z,30,3170,0.0,1579666,False,57.71869,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824
65530,0,1900,Skagen,2016-05-27T05:20:48.943Z,1183,3042,0.0,1217804,False,57.72508,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824
65531,0,2011,Skagen,2019-04-06T00:35:15.123Z,139,5022,0.0,1542046,False,57.72747,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824
65532,0,1927,Skagen,2019-06-21T00:35:03.677Z,63,3863,0.0,1569648,False,57.72099,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824
65533,0,2007,Skagen,2019-04-08T00:35:08.410Z,137,4277,0.0,1542665,False,57.72741,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824
65534,0,1959,Skagen,2019-08-15T00:35:08.547Z,8,3851,0.0,1585460,False,57.72985,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824
65535,0,1960,Skagen,2018-10-25T04:01:19.387Z,302,2562,0.0,1495647,False,57.72413,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824
65536,0,2017,Skagen,2019-03-26T03:13:05.213Z,150,2206,0.0,1537122,False,57.73715,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824
65537,0,1983,Skagen,2019-04-08T00:35:07.407Z,137,4753,0.0,1542664,False,57.72861,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824
65538,131,1950,Skagen,2017-12-31T03:18:25.530Z,600,3655,0.0,1394781,False,57.72305,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824
65539,0,2007,Skagen,2018-04-28T00:35:18.860Z,482,5125,0.0,1433091,False,57.72787,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824
65540,25,1986,Skagen,2017-05-10T03:26:38.463Z,835,4269,0.0,1325261,False,57.72996,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824
65541,0,1911,Skagen,2019-01-05T00:35:05.453Z,230,3159,0.0,1512395,False,57.71498,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824
65542,74,1999,Skagen,2019-02-09T03:58:02.777Z,195,3883,0.0,1521960,False,57.71592,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824
65543,0,1990,Skagen,2019-04-09T00:35:14.193Z,136,4240,0.0,1542811,False,57.72862,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824
65544,0,2017,Skagen,2018-08-08T00:35:19.100Z,380,3306,0.0,1469989,False,57.72099,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824
65545,0,2018,Skagen,2019-04-14T03:39:30.010Z,131,1519,0.0,1546197,False,57.72439,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824
65546,0,1967,Skagen,2019-07-13T03:26:09.107Z,41,6464,0.0,1577221,False,57.72348,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824
65547,0,1918,Skagen,2018-03-22T00:35:09.290Z,519,3282,0.0,1418572,False,57.72500,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824
65548,0,2011,Skagen,2017-10-28T00:35:09.803Z,664,5630,0.0,1379813,False,57.72291,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824
65549,0,1902,Skagen,2019-07-17T03:28:17.267Z,37,2427,0.0,1578005,False,57.72481,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824
65550,0,2001,Skagen,2018-09-05T04:10:33.743Z,352,2236,0.0,1479257,False,57.71595,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824
65551,0,2015,Skagen,2017-11-25T00:35:11.783Z,636,4568,0.0,1387716,False,57.73795,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824
65552,107,1973,Skagen,2018-05-03T03:28:52.050Z,477,5177,0.0,1434758,False,57.71666,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824
65553,6,1920,Skagen,2019-06-14T03:27:24.960Z,70,2977,0.0,1567446,False,57.72842,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824
65554,17,1993,Skagen,2019-08-13T03:21:09.000Z,10,6045,0.0,1584779,False,57.72656,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824
65555,140,1922,Skagen,2018-07-28T03:48:49.173Z,391,4344,0.0,1467587,False,57.71859,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824
65556,0,1971,Skagen,2019-06-05T03:52:20.880Z,79,2238,0.0,1564194,False,57.72949,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824
65557,0,1988,Skagen,2019-03-09T00:35:06.353Z,167,7936,0.0,1531104,False,57.72394,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824
65558,0,1947,Skagen,2019-07-02T00:35:14.253Z,52,4361,8.0,1573049,False,57.71726,...,68249,15.0,200,20.2,396,1127,43859,2390,3262,1824

In [3]:
df.shape

(65559, 47)

In [7]:
df2.shape

(65559, 82)

In [8]:
pd.options.display.max_columns = 100

In [2]:
df.head()

NameError: name 'df' is not defined

In [10]:
df2.head()

,basementSize,buildYear,city,createdDate,daysForSale,Ejerudgift,floor,id,isForeclosure,latitude,longitude,lotSize,municipality,price,rooms,size,street,zipCode,coordinate,Kommune,Region,Type,Befolkning,Relativ Ledighed,Grundskole,Gymnasiale uddannelser,Erhvervsfaglige uddannelser,KVU,MVU,Bacheloruddannelser,LVU,Kommunal_gennemsnitsinkomst_2017,danish_origin,immigrants_Western,immigrants_Non_Western,descendants_Western,descendants_Non_Western,Murder&Arson_reported,Murder&Arson_charged,Breaking&entering_reported,Breaking&entering_charged,Narcotics_reported,Narcotics_charged,Robbery_reported,Robbery_charged,Indecency_reported,Indecency_charged,Theft_reported,Theft_charged,Assault_reported,Assault_charged,Total_reported,Total_charged,Population_density(pop/km2),Population_in_urban_development,Socioeconomic_index,expenditure_per_capita,Service_expenses_per_capita,church_tax,land_tax(‰),land_value_per_capita,taxable_income_per_capita,expenses_development,expenses_transport&infrastructure,expenses_public_school_per_capita,expenses_daycare_per_capita,long_term_debt_per_capita,liquid_assets_per_capita,expenses_daycare_per_0-13yo(brutto),expenses_daycare_per_0-13yo(netto),monthly_price_daycare(3-5yo),education_expenses(6-16yo),expenses_per_school_student,number_of_public_schools,number_of_ordinary_classes,average_class_size,library_expenses_per_capita,expenses_sport_and_other_cultural_activities,expenses_elder(+67yo),sickness_benefits_per_17-64yo,expenses_for_assistance(17-64yo),expenses_for_reschooling(17-64yo)
0,0,1767,København K,2019-05-22T00:35:07.000Z,93,16872,3.0,1559151,False,55.67996,12.58478,0,101,18750000,6.0,280,"Kongens Nytorv 21, 3. tv",1050,"55.679959999999994, 12.58478",København,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
1,88,1880,København K,2019-06-14T03:27:01.490Z,70,5702,0.0,1567291,False,55.67926,12.59149,0,101,10500000,4.0,83,"Nyhavn 38, st. Dør/lejl. 4",1051,"55.67926, 12.59149",København,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
2,0,1755,København K,2019-04-24T00:09:51.880Z,121,9486,1.0,1549766,False,55.67981,12.59206,0,101,15000000,7.0,274,"Nyhavn 53, 1.",1051,"55.679809999999996, 12.59206",København,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
3,0,1880,København K,2019-05-08T00:04:30.737Z,107,17609,5.0,1554276,False,55.67926,12.59149,0,101,19995000,7.0,296,"Nyhavn 38, 5. tv.",1051,"55.67926, 12.59149",København,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493
4,0,1873,København K,2019-07-12T03:21:26.060Z,42,5590,3.0,1576691,False,55.67852,12.59114,0,101,8750000,7.0,163,"Herluf Trolles Gade 22, 3. th",1052,"55.67851999999999, 12.59114",København,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493

In [11]:
df = df[['id','hvorlangt_total']].copy()

In [12]:
df.head()

        id                                    hvorlangt_total
0  1559151  {'lake': 1132.04, 'forest': 7227.33, 'doctor':...
1  1567291  {'lake': 1204.41, 'forest': 7301.06, 'doctor':...
2  1549766  {'lake': 1188.99, 'forest': 7361.08, 'doctor':...
3  1554276  {'lake': 1204.41, 'forest': 7301.06, 'doctor':...
4  1576691  {'lake': 1252.92, 'forest': 7231.67, 'doctor':...

In [13]:
df.shape

(65559, 2)

In [22]:
df = df.drop_duplicates()

In [23]:
df.shape

(65558, 2)

In [24]:
df2 = df2.drop_duplicates()

In [25]:
df2.shape

(65558, 82)

In [26]:
finaldf = df2.merge(df, how='left', left_on = df2['id'], right_on = df['id'], validate= 'm:1')

In [21]:
df2['id'].unique()

array([1559151, 1567291, 1549766, ..., 1564194, 1531104, 1573049])

In [27]:
finaldf.shape

(65558, 85)

In [31]:
finaldf = finaldf.drop(columns=['id_y']).copy()

In [32]:
finaldf.head()

,key_0,basementSize,buildYear,city,createdDate,daysForSale,Ejerudgift,floor,id_x,isForeclosure,latitude,longitude,lotSize,municipality,price,rooms,size,street,zipCode,coordinate,Kommune,Region,Type,Befolkning,Relativ Ledighed,Grundskole,Gymnasiale uddannelser,Erhvervsfaglige uddannelser,KVU,MVU,Bacheloruddannelser,LVU,Kommunal_gennemsnitsinkomst_2017,danish_origin,immigrants_Western,immigrants_Non_Western,descendants_Western,descendants_Non_Western,Murder&Arson_reported,Murder&Arson_charged,Breaking&entering_reported,Breaking&entering_charged,Narcotics_reported,Narcotics_charged,Robbery_reported,Robbery_charged,Indecency_reported,Indecency_charged,Theft_reported,Theft_charged,Assault_reported,Assault_charged,Total_reported,Total_charged,Population_density(pop/km2),Population_in_urban_development,Socioeconomic_index,expenditure_per_capita,Service_expenses_per_capita,church_tax,land_tax(‰),land_value_per_capita,taxable_income_per_capita,expenses_development,expenses_transport&infrastructure,expenses_public_school_per_capita,expenses_daycare_per_capita,long_term_debt_per_capita,liquid_assets_per_capita,expenses_daycare_per_0-13yo(brutto),expenses_daycare_per_0-13yo(netto),monthly_price_daycare(3-5yo),education_expenses(6-16yo),expenses_per_school_student,number_of_public_schools,number_of_ordinary_classes,average_class_size,library_expenses_per_capita,expenses_sport_and_other_cultural_activities,expenses_elder(+67yo),sickness_benefits_per_17-64yo,expenses_for_assistance(17-64yo),expenses_for_reschooling(17-64yo),hvorlangt_total
0,1559151,0,1767,København K,2019-05-22T00:35:07.000Z,93,16872,3.0,1559151,False,55.67996,12.58478,0,101,18750000,6.0,280,"Kongens Nytorv 21, 3. tv",1050,"55.679959999999994, 12.58478",København,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493,"{'lake': 1132.04, 'forest': 7227.33, 'doctor':..."
1,1567291,88,1880,København K,2019-06-14T03:27:01.490Z,70,5702,0.0,1567291,False,55.67926,12.59149,0,101,10500000,4.0,83,"Nyhavn 38, st. Dør/lejl. 4",1051,"55.67926, 12.59149",København,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493,"{'lake': 1204.41, 'forest': 7301.06, 'doctor':..."
2,1549766,0,1755,København K,2019-04-24T00:09:51.880Z,121,9486,1.0,1549766,False,55.67981,12.59206,0,101,15000000,7.0,274,"Nyhavn 53, 1.",1051,"55.679809999999996, 12.59206",København,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493,"{'lake': 1188.99, 'forest': 7361.08, 'doctor':..."
3,1554276,0,1880,København K,2019-05-08T00:04:30.737Z,107,17609,5.0,1554276,False,55.67926,12.59149,0,101,19995000,7.0,296,"Nyhavn 38, 5. tv.",1051,"55.67926, 12.59149",København,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493,"{'lake': 1204.41, 'forest': 7301.06, 'doctor':..."
4,1576691,0,1873,København K,2019-07-12T03:21:26.060Z,42,5590,3.0,1576691,False,55.67852,12.59114,0,101,8750000,7.0,163,"Herluf Trolles Gade 22, 3. th",1052,"55.67851999999999, 12.59114",København,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493,"{'lake': 1252.92, 'forest': 7231.67, 'doctor':..."

In [144]:
from ast import literal_eval

poitypes = ["lake", "forest", "doctor", "supermarket", "school", "daycare", "hospital", "metro",
            "train", "stop", "strain", "junction", "pharmacy", "library", "coast", "airport"]
def get_lakekey(key_column):
    key_column = literal_eval(key_column)
    return key_column['lake']
def get_forestkey(key_column):
    key_column = literal_eval(key_column)
    return key_column['forest']
def get_doctorkey(key_column):
    key_column = literal_eval(key_column)
    return key_column['doctor']
def get_supermarketkey(key_column):
    key_column = literal_eval(key_column)
    return key_column['supermarket']
def get_schoolkey(key_column):
    key_column = literal_eval(key_column)
    return key_column['school']
def get_daycarekey(key_column):
    key_column = literal_eval(key_column)
    return key_column['daycare']
def get_hospitalkey(key_column):
    key_column = literal_eval(key_column)
    return key_column['hospital']
def get_metrokey(key_column):
    key_column = literal_eval(key_column)
    return key_column['metro']
def get_trainkey(key_column):
    key_column = literal_eval(key_column)
    return key_column['train']
def get_stopkey(key_column):
    key_column = literal_eval(key_column)
    return key_column['stop']
def get_strainkey(key_column):
    key_column = literal_eval(key_column)
    return key_column['strain']
def get_junctionkey(key_column):
    key_column = literal_eval(key_column)
    return key_column['junction']
def get_pharmacykey(key_column):
    key_column = literal_eval(key_column)
    return key_column['pharmacy']
def get_librarykey(key_column):
    key_column = literal_eval(key_column)
    return key_column['library']
def get_coastkey(key_column):
    key_column = literal_eval(key_column)
    return key_column['coast']
def get_airportkey(key_column):
    key_column = literal_eval(key_column)
    return key_column['airport']

In [141]:
finaldf['lake_distance'] = finaldf['hvorlangt_total'].apply(get_lakekey)

In [146]:
poitypes = ["lake", "forest", "doctor", "supermarket", "school", "daycare", "hospital", "metro",
            "train", "stop", "strain", "junction", "pharmacy", "library", "coast", "airport"]
finaldf['forest_distance'] = finaldf['hvorlangt_total'].apply(get_forestkey)
finaldf['doctor_distance'] = finaldf['hvorlangt_total'].apply(get_doctorkey)
finaldf['supermarket_distance'] = finaldf['hvorlangt_total'].apply(get_supermarketkey)
finaldf['school_distance'] = finaldf['hvorlangt_total'].apply(get_schoolkey)

In [147]:
finaldf['daycare_distance'] = finaldf['hvorlangt_total'].apply(get_daycarekey)
finaldf['hospital_distance'] = finaldf['hvorlangt_total'].apply(get_hospitalkey)
finaldf['metro_distance'] = finaldf['hvorlangt_total'].apply(get_metrokey)
finaldf['train_distance'] = finaldf['hvorlangt_total'].apply(get_trainkey)

In [148]:
finaldf['pharmacy_distance'] = finaldf['hvorlangt_total'].apply(get_pharmacykey)
finaldf['library_distance'] = finaldf['hvorlangt_total'].apply(get_librarykey)
finaldf['coast_distance'] = finaldf['hvorlangt_total'].apply(get_coastkey)
finaldf['airport_distance'] = finaldf['hvorlangt_total'].apply(get_airportkey)

In [150]:
#finaldf['stop_distance'] = finaldf['hvorlangt_total'].apply(get_stopkey)
finaldf['strain_distance'] = finaldf['hvorlangt_total'].apply(get_strainkey)
finaldf['junction_distance'] = finaldf['hvorlangt_total'].apply(get_junctionkey)

In [151]:
finaldf.head()

,key_0,basementSize,buildYear,city,createdDate,daysForSale,Ejerudgift,floor,id_x,isForeclosure,latitude,longitude,lotSize,municipality,price,rooms,size,street,zipCode,coordinate,Kommune,Region,Type,Befolkning,Relativ Ledighed,Grundskole,Gymnasiale uddannelser,Erhvervsfaglige uddannelser,KVU,MVU,Bacheloruddannelser,LVU,Kommunal_gennemsnitsinkomst_2017,danish_origin,immigrants_Western,immigrants_Non_Western,descendants_Western,descendants_Non_Western,Murder&Arson_reported,Murder&Arson_charged,Breaking&entering_reported,Breaking&entering_charged,Narcotics_reported,Narcotics_charged,Robbery_reported,Robbery_charged,Indecency_reported,Indecency_charged,Theft_reported,Theft_charged,Assault_reported,Assault_charged,Total_reported,Total_charged,Population_density(pop/km2),Population_in_urban_development,Socioeconomic_index,expenditure_per_capita,Service_expenses_per_capita,church_tax,land_tax(‰),land_value_per_capita,taxable_income_per_capita,expenses_development,expenses_transport&infrastructure,expenses_public_school_per_capita,expenses_daycare_per_capita,long_term_debt_per_capita,liquid_assets_per_capita,expenses_daycare_per_0-13yo(brutto),expenses_daycare_per_0-13yo(netto),monthly_price_daycare(3-5yo),education_expenses(6-16yo),expenses_per_school_student,number_of_public_schools,number_of_ordinary_classes,average_class_size,library_expenses_per_capita,expenses_sport_and_other_cultural_activities,expenses_elder(+67yo),sickness_benefits_per_17-64yo,expenses_for_assistance(17-64yo),expenses_for_reschooling(17-64yo),hvorlangt_total,lake_distance,forest_distance,doctor_distance,supermarket_distance,school_distance,daycare_distance,hospital_distance,metro_distance,train_distance,pharmacy_distance,library_distance,coast_distance,airport_distance,strain_distance,junction_distance
0,1559151,0,1767,København K,2019-05-22T00:35:07.000Z,93,16872,3.0,1559151,False,55.67996,12.58478,0,101,18750000,6.0,280,"Kongens Nytorv 21, 3. tv",1050,"55.679959999999994, 12.58478",København,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493,"{'lake': 1132.04, 'forest': 7227.33, 'doctor':...",1132.04,7227.33,111.11,240.96,350.05,394.28,2673.32,106.28,1056.50,386.65,927.71,413.79,8078.37,1056.50,4656.46
1,1567291,88,1880,København K,2019-06-14T03:27:01.490Z,70,5702,0.0,1567291,False,55.67926,12.59149,0,101,10500000,4.0,83,"Nyhavn 38, st. Dør/lejl. 4",1051,"55.67926, 12.59149",København,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493,"{'lake': 1204.41, 'forest': 7301.06, 'doctor':...",1204.41,7301.06,298.60,598.52,426.07,431.39,2957.15,561.92,1411.22,701.59,1237.05,35.08,7806.09,1411.22,4943.59
2,1549766,0,1755,København K,2019-04-24T00:09:51.880Z,121,9486,1.0,1549766,False,55.67981,12.59206,0,101,15000000,7.0,274,"Nyhavn 53, 1.",1051,"55.679809999999996, 12.59206",København,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493,"{'lake': 1188.99, 'forest': 7361.08, 'doctor':...",1188.99,7361.08,268.52,711.05,486.10,401.31,2927.07,611.54,1381.15,671.41,1297.08,70.32,8251.22,1381.15,4913.51
3,1554276,0,1880,København K,2019-05-08T00:04:30.737Z,107,17609,5.0,1554276,False,55.67926,12.59149,0,101,19995000,7.0,296,"Nyhavn 38, 5. tv.",1051,"55.67926, 12.59149",København,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493,"{'lake': 1204.41, 'forest': 7301.06, 'doctor':...",1204.41,7301.06,298.60,598.52,426.07,431.39,2957.15,561.92,1411.22,701.59,1237.05,35.08,7806.09,1411.22,4943.59
4,1576691,0,1873,København K,2019-07-12T03:21:26.060Z,42,5590,3.0,1576691,False,55.67852,12.59114,0,101,8750000,7.0,163,"Herluf Trolles Gade 22, 3. th",1052,"55.67851999999999, 12.59114",København,Region Hovedstaden,Ejerlejlighed,626508,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745,466883,57587,65111,6196,30731,67.0,59.0,1.209,103.0,2.622,2.129,128.0,70.0,123.0,86.0,6.318,1.158,850.0,588.0,1178.149,909.287,7190,100.0,1.08,58777,41385,0.8,34.0,190274,195564,1518,417,6276,7197,2310,15618,66494,49568,1700,66679,69710,60.0,1708,22.8,346,1062,64106,1465,4147,1493,"{'lake': 1252.92, 'forest': 7231.67, 'doctor':...",1252.92,7231.67,395.71,646.93,360.48,528.40,3054.26,560.63,1508.33,798.60,1167.66,123.53,8121.70,1508.33,5040.60

In [152]:
finaldf.shape

(65558, 99)

In [153]:
finaldf = finaldf.drop(columns=['hvorlangt_total']).copy()

In [156]:
for i in finaldf.isna().sum():
    print(i)

0
0
0
3
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [ ]:
finaldf.to_csv('Final_Boligdata.csv')