In [3]:
import requests 
import json
import time 
import tqdm
import pandas as pd

df = pd.read_csv('Boliga Scraped - Rådata.csv')
pd.options.display.max_columns = 100
pd.options.display.max_rows = 500
#df.sort_values(by = ['municipality'], axis = 0 );

### Deleted Columns
Most should be selfexplanatory - the following deletions are breifly elaborated:
- **isActive**: all are active
- **agentDisplayName**: Around 60.000 missing --> insignificant 
- **isForeclosure**: Only 113 True --> **Keep**
- **IsPremiumAgent**: Around 60.000 false --> insignificant
- **floor**: Describes which floor an apartment is on: Only relevant to appartement --> **Keep**
- **Pricechange**: Drop because its effect has already manifest in the price.
- **pricesquaremeter**: Drop due to percect multicollinearity.
- **energyClass**: ca. 20.000 missing --> dropped


*When we are through with all the datastructuring, an we commence on the training of our model, we should also delete* **zipCode, municipality, domainid, id**

In [ ]:
pd.options.display.max_columns = 100

#Renaming 
df.rename(columns={'exp':'Ejerudgift'}, inplace=True)

#Delete redundant columns 
df = df.drop(columns = ['guid', 'images', 'inWatchlist', 'agentRegId',
              'agentDisplayName','openHouse', 'views', 'isActive',
              'openHouse', 'groupKey', 'isPremiumAgent', 'propertyType',
            'net', 'Ledige', 'priceChangePercentTotal', 'selfsale', 'squaremeterPrice',
            'area', 'domainId', 'energyClass'])

In [4]:
#Som cleaning of not possible values
df.drop(df.loc[df['municipality']==0].index, inplace = True)
df.drop(df.loc[df['price']<=100].index, inplace = True)
df.drop(df.loc[df['latitude']==0].index, inplace = True)
df.drop(df.loc[df['longitude']==0].index, inplace = True)

#Unique municipality df
kommune = df['municipality'].unique()
df_kom = pd.DataFrame(kommune, columns = ['Kommunenr'])

#Replace Nan in column 'floor' with 0
value_floor = {'floor': 0}
df = df.fillna(value = value_floor);

# If the type is Ejerlejlighed, set lotSize (groundareal on Boliga) to 0. 
# Sometimes it is 0 to begin with, and sometimes i think they include the 
# mutually shared backyard-area. 
df.loc[df['Type'] == 'Ejerlejlighed', 'lotSize'] = 0

In [5]:
import scraping_class
logfile = '02_logfile_boliga.csv'
connector = scraping_class.Connector(logfile)

import time
def kommune_func(kommune_kode):
    url = lambda q: 'https://dawa.aws.dk/kommuner/{}'.format(q)
    resp, call_id = connector.get(url(kommune_kode), 'Kommunedata')
    time.sleep(0.5)
    
    if not resp.status_code == 200:
        return ''
    resp = resp.json()
    kommune = resp['navn']
    
    return kommune

In [6]:
import scraping_class
logfile = '02_Boligscrape_log.csv'
connector = scraping_class.Connector(logfile)

import time
def region_func(kommune_kode):
    url = lambda q: 'https://dawa.aws.dk/kommuner/{}'.format(q)
    resp, call_id = connector.get(url(kommune_kode), 'Kommunedata')
    time.sleep(0.5)
    
    if not resp.status_code == 200:
        return ''
    resp = resp.json()
    region = resp['region']['navn']
    
    return region

In [7]:
df_kom['Kommune'] = df_kom.Kommunenr.apply(kommune_func)

In [8]:
df = df.merge(df_kom, how='left', left_on=['municipality'],
                           right_on=['Kommunenr'], validate = 'm:1')

df = df.drop(columns = ['Kommunenr'], axis = 1)

In [9]:
# Convert Prop_type (number) to descriptive labels
prop_type = {'Prop_Type': {'Villa': 1, 'Rækkehus': 2, 'Ejerlejlighed': 3,
            'Fritidshus': 4, 'Andelsbolig': 5, 'Landejendom': 6,
            'Helårsgrund': 7, 'Fritidsgrund': 8, 'Villalejlighed': 9}}

prop_type_df = pd.DataFrame(prop_type).reset_index()

df = df.merge(prop_type_df, how='left', left_on=['propertyType'],
                           right_on=['Prop_Type'], validate = 'm:1')

df = df.drop(columns = ['Prop_Type'], axis = 1)
df.rename(columns={'index':'Type'}, inplace=True)
#Drop missing in Type
df = df[df.Type.isnull() != True]

In [10]:
df_befolkning = pd.read_csv('DST_Excel/Befolkning pr kommune.csv', sep = ';', encoding='latin-1', skiprows=1)
COL = ['Kommune', 'Befolkning']
df_befolkning.columns = COL

In [11]:
df = df.merge(df_befolkning, how='left', left_on=['Kommune'],
                           right_on=['Kommune'], validate = 'm:1')

df = df[df.Befolkning.isnull() != True]

In [12]:
#Load Relative unemplyment pr. capita data
df_led = pd.read_excel('DST_Excel/Relativ Ledighed og Indbyggertal 30-59år .xlsx',  sep = ';', encoding='latin-1')

In [13]:
#Merge unemploymentdata onto master
df = df.merge(df_led, how='left', left_on=['Kommune'],
                           right_on=['Kommuner'], validate = 'm:1')

df = df.drop(columns = ['Kommuner', 'Indbygger'])
df = df[df.Ledige.isnull() != True]

In [14]:
#Load Relative education pr. capita data
df_udd = pd.read_excel('DST_Excel/Relativ Uddannelse og Kommune 30-69år.xlsx',  sep = ';', encoding='latin-1')

In [15]:
#Merge education data onto master 
df = df.merge(df_udd, how='left', left_on=['Kommune'],
                           right_on=['Kommuner'], validate = 'm:1')

df = df.drop(columns = ['Kommuner'])
df = df[df.Grundskole.isnull() != True]

In [16]:
df_in = pd.read_excel('DST_Excel/Indkomstdata.xlsx')

In [17]:
df = df.merge(df_in, how='left', left_on=['Kommune'],
                           right_on=['Kommune'], validate = 'm:1')

In [20]:
df.head()

,agentDisplayName,agentRegId,area,basementSize,buildYear,city,createdDate,daysForSale,domainId,energyClass,exp,floor,groupKey,guid,id,images,inWatchlist,isActive,isForeclosure,isPremiumAgent,latitude,longitude,lotSize,municipality,net,openHouse,price,priceChangePercentTotal,propertyType,rooms,selfsale,size,squaremeterPrice,street,views,zipCode,coordinate,Kommune,Type,Befolkning,Ledige,Relativ Ledighed,Grundskole,Gymnasiale uddannelser,Erhvervsfaglige uddannelser,KVU,MVU,Bacheloruddannelser,LVU,Kommunal_gennemsnitsinkomst_2017
0,NaN,24254,1,0,1767,København K,2019-05-22T00:35:07.000Z,93,944,-,16872,3.0,NaN,147A17D5-24CA-4788-8009-F53DEFF2836C,1559151,"[{'id': 1559151, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67996,12.58478,0,101,67026,NaN,18750000,0,3,6.0,False,280,66964.0,"Kongens Nytorv 21, 3. tv",557,1050,"55.679959999999994, 12.58478",København,Ejerlejlighed,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745
1,NaN,207,1,88,1880,København K,2019-06-14T03:27:01.490Z,70,7,C,5702,NaN,1.0,EE6F79CE-E04F-4D59-9845-E08F98251FC9,1567291,"[{'id': 1567291, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67926,12.59149,0,101,0,NaN,10500000,0,3,4.0,False,83,126506.0,"Nyhavn 38, st. Dør/lejl. 4",139,1051,"55.67926, 12.59149",København,Ejerlejlighed,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745
2,NaN,117,1,0,1755,København K,2019-04-24T00:09:51.880Z,121,171,C,9486,1.0,NaN,23F2A968-9A3B-44C0-BB55-22A9005DEC2C,1549766,"[{'id': 1549766, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67981,12.59206,0,101,0,NaN,15000000,0,3,7.0,False,274,54744.0,"Nyhavn 53, 1.",110,1051,"55.679809999999996, 12.59206",København,Ejerlejlighed,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745
3,NaN,17151,1,0,1880,København K,2019-05-08T00:04:30.737Z,107,91,C,17609,5.0,1.0,0CB9E79E-C298-47B9-88E4-23F67F0A0A5B,1554276,"[{'id': 1554276, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67926,12.59149,0,101,70224,2019-08-25T14:00:00.000Z,19995000,0,3,7.0,False,296,67550.0,"Nyhavn 38, 5. tv.",317,1051,"55.67926, 12.59149",København,Ejerlejlighed,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745
4,NaN,17489,1,0,1873,København K,2019-07-12T03:21:26.060Z,42,9,C,5590,3.0,NaN,A7380CBF-7220-447E-878E-5B044910369E,1576691,"[{'id': 1576691, 'date': '2019-08-23T14:46:45....",False,True,False,False,55.67852,12.59114,0,101,0,NaN,8750000,0,3,7.0,False,163,53680.0,"Herluf Trolles Gade 22, 3. th",122,1052,"55.67851999999999, 12.59114",København,Ejerlejlighed,626508,20974,7.926682,13.754726,7.646977,19.268325,4.928181,17.977495,3.627649,26.658495,319745

# Crime Data
Data collected from https://statistik.politi.dk

In [22]:
crime_1=pd.read_csv("Data(fra Mikkel)/Kriminalitet/drab,brand,mv..csv", delimiter=";")
crimetemp1=pd.DataFrame()
crimetemp1["Municipality"]=crime_1["Kommune"]
crimetemp1["Murder&Arson_reported"]=crime_1["Antal anmeldelser"]
crimetemp1["Murder&Arson_charged"]=crime_1["Antal sigtelser"]

crime_2=pd.read_csv('Data(fra Mikkel)/Kriminalitet/indbrud.csv', delimiter=";")
crimetemp2=pd.DataFrame()
crimetemp2["Municipality"]=crime_2["Kommune"]
crimetemp2["Breaking&entering_reported"]=crime_2["Antal anmeldelser"]
crimetemp2["Breaking&entering_charged"]=crime_2["Antal sigtelser"]

crime_3=pd.read_csv('Data(fra Mikkel)/Kriminalitet/narkotika.csv', delimiter=";")
crimetemp3=pd.DataFrame()
crimetemp3["Municipality"]=crime_3["Kommune"]
crimetemp3["Narcotics_reported"]=crime_3["Antal anmeldelser"]
crimetemp3["Narcotics_charged"]=crime_3["Antal sigtelser"]

crime_4=pd.read_csv('Data(fra Mikkel)/Kriminalitet/røveri.csv', delimiter=";")
crimetemp4=pd.DataFrame()
crimetemp4["Municipality"]=crime_4["Kommune"]
crimetemp4["Robbery_reported"]=crime_4["Antal anmeldelser"]
crimetemp4["Robbery_charged"]=crime_4["Antal sigtelser"]

crime_5=pd.read_csv('Data(fra Mikkel)/Kriminalitet/sædelighed.csv', delimiter=";")
crimetemp5=pd.DataFrame()
crimetemp5["Municipality"]=crime_5["Kommune"]
crimetemp5["Indecency_reported"]=crime_5["Antal anmeldelser"]
crimetemp5["Indecency_charged"]=crime_5["Antal sigtelser"]

crime_6=pd.read_csv('Data(fra Mikkel)/Kriminalitet/tyveri.csv', delimiter=";")
crimetemp6=pd.DataFrame()
crimetemp6["Municipality"]=crime_6["Kommune"]
crimetemp6["Theft_reported"]=crime_6["Antal anmeldelser"]
crimetemp6["Theft_charged"]=crime_6["Antal sigtelser"]

crime_7=pd.read_csv('Data(fra Mikkel)/Kriminalitet/vold.csv', delimiter=";")
crimetemp7=pd.DataFrame()
crimetemp7["Municipality"]=crime_7["Kommune"]
crimetemp7["Assault_reported"]=crime_7["Antal anmeldelser"]
crimetemp7["Assault_charged"]=crime_7["Antal sigtelser"]

crimelist=[crimetemp1, crimetemp2, crimetemp3, crimetemp4, crimetemp5, crimetemp6, crimetemp7]
crimelist=[df.set_index("Municipality") for df in crimelist]
crime=crimelist[0].join(crimelist[1:], how="outer", sort=True)
crime=crime.fillna(value=0)

crime["Total_reported"]=crime["Murder&Arson_reported"]+crime["Breaking&entering_reported"]+crime["Narcotics_reported"]\
                        +crime["Robbery_reported"]+crime["Indecency_reported"]+crime["Theft_reported"]+crime["Assault_reported"]
crime["Total_charged"]=crime["Murder&Arson_charged"]+crime["Breaking&entering_charged"]+crime["Narcotics_charged"]\
                        +crime["Robbery_charged"]+crime["Indecency_charged"]+crime["Theft_charged"]+crime["Assault_charged"]

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:7280: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  return concat(frames, axis=1, join=how, verify_integrity=True)

# Etnicity
Data collected from statisitkbanken (FOLK1E)

In [23]:
data_xls = pd.read_excel('DST_Excel/FOLK1E.xlsx', 'FOLK1E', index_col=None)
data_xls.to_csv('FOLK1E.csv', encoding='utf-8', index=False)
etnodata=pd.read_csv("FOLK1E.csv")
etnocrime= etnodata.join(crime,on="Municipality").fillna(method="pad")

# Social & Indenrigsministeriets municipal keynumbers.
Colected from http://www.noegletal.dk/

In [31]:
SIData = pd.read_excel("Data(fra Mikkel)/Nøgletal/Nøgletal.xlsx", "Nøgletal",index_col=None)
SIData.to_csv("SI_data.csv", encoding='utf-8', index=False)
soecData=pd.read_csv("SI_data.csv")
soecData.set_index("Municipality")

findata=pd.concat([etnocrime.reset_index(drop=True),soecData],axis=1)
findata.set_index("Municipality",verify_integrity=True,drop=True)
findata
data_komm = findata.loc[:,~findata.columns.duplicated()]

In [33]:
df =df.merge(data_komm,how="left",left_on=["Kommune"],right_on=["Municipality"],validate="m:1")

In [ ]:
df = df.drop(columns = ['Municipality'])